Repository solana-foundation/anchor, pull requests merged in 2023-12, with the labels that each got.

#2717 ts: Remove `anchor-deprecated-state`
  CHANGELOG.md
  tests/lockup/programs/lockup/Cargo.toml
  tests/lockup/programs/registry/Cargo.toml
  tests/lockup/tests/lockup.js
  ts/packages/anchor/src/utils/features.ts
Labels: ts, tests

#2719 cli: Fix toolchain `solana_version` override log
  cli/src/lib.rs
Labels: cli

#2725 [testing] changing default local test-validator address from localhost to 127.0.0.1
  CHANGELOG.md
  cli/src/lib.rs
  ts/packages/anchor/src/provider.ts
Labels: ts, cli

#2726 lang: Remove `CLOSED_ACCOUNT_DISCRIMINATOR`
  CHANGELOG.md
  docs/src/pages/docs/account-constraints.md
  lang/derive/accounts/src/lib.rs
  lang/src/lib.rs
Labels: documentation, lang

#2730 lang: Make bumps of optional account Option<u8> rather than u8
  CHANGELOG.md
  lang/syn/src/codegen/accounts/bumps.rs
  lang/syn/src/codegen/accounts/constraints.rs
  tests/misc/programs/misc-optional/src/lib.rs
Labels: lang

#2691 Avoid temporary Vecs when serialising objects with discriminators
  CHANGELOG.md
  cli/src/lib.rs
  lang/attribute/event/src/lib.rs
  lang/src/lib.rs
  lang/syn/src/codegen/program/cpi.rs
Labels: lang

#2733 `InstructionData::write_to` implementation
  CHANGELOG.md
  lang/src/lib.rs
  lang/tests/serialization.rs
Labels: lang

#2728 Introduce the `#[interface]` attribute for overriding the default discriminator
  .github/workflows/reusable-tests.yaml
  CHANGELOG.md
  lang/Cargo.toml
  lang/attribute/program/Cargo.toml
  lang/attribute/program/src/lib.rs
  lang/src/lib.rs
  lang/syn/Cargo.toml
  lang/syn/src/codegen/program/instruction.rs
  lang/syn/src/lib.rs
  lang/syn/src/parser/mod.rs
  lang/syn/src/parser/program/instructions.rs
  lang/syn/src/parser/spl_interface.rs
  tests/package.json
  tests/spl/transfer-hook/Anchor.toml
  tests/spl/transfer-hook/Cargo.toml
  tests/spl/transfer-hook/package.json
  tests/spl/transfer-hook/programs/transfer-hook/Cargo.toml
  tests/spl/transfer-hook/programs/transfer-hook/Xargo.toml
  tests/spl/transfer-hook/programs/transfer-hook/src/lib.rs
  tests/spl/transfer-hook/tests/transfer-hook.ts
  tests/spl/transfer-hook/tsconfig.json
  tests/yarn.lock
  ts/packages/anchor/src/coder/borsh/instruction.ts
  ts/packages/anchor/src/coder/index.ts
  ts/packages/anchor/src/program/context.ts
  ts/packages/anchor/src/program/namespace/index.ts
  ts/packages/anchor/src/program/namespace/instruction.ts
  ts/packages/anchor/src/program/namespace/methods.ts
Labels: lang, ts

#2739 ci: Remove manual downgrade of `index_list` to make `solana-program-test` compile
  .github/workflows/reusable-tests.yaml
Labels: ci

#2741 lang: Allow custom lifetime for Accounts structure
  lang/syn/src/codegen/accounts/to_account_infos.rs
  lang/syn/src/codegen/accounts/try_accounts.rs
  lang/tests/generics_test.rs
Labels: lang

#2744 lang: Remove `try_to_vec` usage
  CHANGELOG.md
  lang/syn/src/codegen/program/handlers.rs
  tests/cpi-returns/tsconfig.json
Labels: lang

#2747 spl: Remove shared memory program
  CHANGELOG.md
  spl/Cargo.toml
  spl/src/lib.rs
  spl/src/shmem.rs
Labels: spl

#2749 ts: Remove deprecated `associated` methods
  CHANGELOG.md
  ts/packages/anchor/src/program/namespace/account.ts
  ts/packages/anchor/src/utils/pubkey.ts
Labels: ts

#2756 lang: Fix `use of unstable library feature 'build_hasher_simple_hash_one'`
  .github/workflows/reusable-tests.yaml
  Cargo.lock
  lang/Cargo.toml
Labels: dependencies, compile error
