Repository solana-foundation/anchor, pull requests merged in 2023-05, with the labels that each got.

#2478 Use fixed version for `winnow` crate to fix new builds
  Cargo.lock
  spl/Cargo.toml
Labels: spl, ci

#2477 Add a script to sync benchmark results for all versions
  tests/bench/Anchor.toml
  tests/bench/README.md
  tests/bench/programs/bench/Cargo.toml
  tests/bench/programs/bench/src/lib.rs
  tests/bench/scripts/sync-markdown.ts
  tests/bench/scripts/sync.ts
  tests/bench/scripts/utils.ts
  tests/bench/tests/compute-units.ts
Labels: bench

#2480 spl: remove mpl `create_metadata_account_v2` wrapper that were removed from program
  CHANGELOG.md
  Cargo.lock
  spl/Cargo.toml
  spl/src/metadata.rs
Labels: spl, breaking

#2483 Fix match condition
  lang/syn/src/parser/accounts/mod.rs
Labels: lang

#2482 Improve IDL typing
  ts/packages/anchor/src/program/namespace/types.ts
Labels: ts

#2485 cli: [Bug] Fix incorrect metadata.address generation
  CHANGELOG.md
  cli/src/lib.rs
Labels: bug, cli

#2492 fix: remove skip preflight from cli
  CHANGELOG.md
  cli/src/lib.rs
Labels: bug, cli

#2486 CLI anchor idl command to use dump base64 for set-buffer and close
  CHANGELOG.md
  Cargo.lock
  cli/Cargo.toml
  cli/src/lib.rs
Labels: cli, idl

#2495 Fix `toml_datetime` 1.64.0 MSRV error
  Cargo.lock
  spl/Cargo.toml
Labels: spl, dependencies

#2496 Update `spl-token-2022` to 0.6.1
  Cargo.lock
  spl/Cargo.toml
  tests/escrow/programs/escrow/Cargo.toml
  tests/escrow/programs/escrow/src/lib.rs
  tests/spl/token-proxy/programs/token-proxy/Cargo.toml
  tests/spl/token-proxy/programs/token-proxy/src/lib.rs
  tests/spl/token-wrapper/programs/token-wrapper/Cargo.toml
Labels: spl, dependencies

#2498 Fix zero-copy tests
  .github/workflows/reusable-tests.yaml
  tests/zero-copy/rust-toolchain.toml
Labels: tests

#2438 Feature: CPI Events API
  CHANGELOG.md
  cli/Cargo.toml
  lang/Cargo.toml
  lang/attribute/event/Cargo.toml
  lang/attribute/event/src/lib.rs
  lang/src/error.rs
  lang/src/event.rs
  lang/src/lib.rs
  lang/syn/Cargo.toml
  lang/syn/src/codegen/program/dispatch.rs
  lang/syn/src/codegen/program/handlers.rs
  lang/syn/src/parser/accounts/event_cpi.rs
  lang/syn/src/parser/accounts/mod.rs
  tests/events/programs/events/Cargo.toml
  tests/events/programs/events/src/lib.rs
  tests/events/tests/events.js
  tests/yarn.lock
  ts/packages/anchor/src/program/accounts-resolver.ts
Labels: lang

#2504 target/deploy dir check
  cli/src/lib.rs
Labels: cli

#2505 cli: Add `anchor keys sync` command
  CHANGELOG.md
  Cargo.lock
  cli/Cargo.toml
  cli/src/lib.rs
Labels: cli

#2506 cli: Use `confirmed` commitment level in commands
  cli/src/lib.rs
Labels: cli
