Repository solana-foundation/anchor, pull requests merged in 2023-06, with the labels that each got.

#2510 Rename derive_anchor_deserialize -> derive_init_space
  lang/derive/space/src/lib.rs
Labels: lang

#2509 cli: Initialize with the correct program id
  CHANGELOG.md
  cli/src/lib.rs
  cli/src/rust_template.rs
Labels: cli

#2516 Update programs in `Anchor.toml` when using `anchor new`
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli

#2488 client: Add async to anchor-client
  CHANGELOG.md
  Cargo.lock
  client/Cargo.toml
  client/example/Cargo.toml
  client/example/run-test.sh
  client/example/src/blocking.rs
  client/example/src/main.rs
  client/example/src/nonblocking.rs
  client/src/blocking.rs
  client/src/lib.rs
  client/src/nonblocking.rs
  tests/zero-copy/programs/zero-copy/Cargo.toml
  tests/zero-copy/programs/zero-copy/tests/compute_unit_test.rs
Labels: client

#2508 Respect absent logs on simulation
  ts/packages/anchor/src/utils/rpc.ts
Labels: ts

#2519 cli: Accept program lib name for `anchor deploy --program-name`
  CHANGELOG.md
  cli/src/config.rs
  cli/src/lib.rs
Labels: cli

#2524 Allow wider range of dependency versions to reduce dependency issues
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  avm/Cargo.lock
  avm/Cargo.toml
  cli/Cargo.toml
  client/Cargo.toml
  client/example/Cargo.toml
  docker/Makefile
  lang/Cargo.toml
  lang/attribute/access-control/Cargo.toml
  lang/attribute/account/Cargo.toml
  lang/attribute/constant/Cargo.toml
  lang/attribute/error/Cargo.toml
  lang/attribute/event/Cargo.toml
  lang/attribute/program/Cargo.toml
  lang/derive/accounts/Cargo.toml
  lang/derive/space/Cargo.toml
  lang/syn/Cargo.toml
  spl/Cargo.toml
  tests/zero-copy/programs/zero-copy/Cargo.toml
Labels: dependencies

#2529 ci: Enable `anchor init` test
  .github/workflows/reusable-tests.yaml
Labels: ci

#2533 docker: Update org name and Ubuntu version
  cli/src/config.rs
  cli/src/lib.rs
  docker/Makefile
  docker/build/Dockerfile
  docs/src/pages/docs/cli.md
  docs/src/pages/docs/manifest.md
  docs/src/pages/docs/verifiable-builds.md
Labels: docker

#2535 ts: Remove usage of `assert`
  CHANGELOG.md
  ts/packages/anchor/rollup.config.ts
  ts/packages/anchor/src/program/event.ts
  ts/packages/spl-associated-token-account/rollup.config.ts
  ts/packages/spl-binary-option/rollup.config.ts
  ts/packages/spl-binary-oracle-pair/rollup.config.ts
  ts/packages/spl-feature-proposal/rollup.config.ts
  ts/packages/spl-governance/rollup.config.ts
  ts/packages/spl-memo/rollup.config.ts
  ts/packages/spl-name-service/rollup.config.ts
  ts/packages/spl-record/rollup.config.ts
  ts/packages/spl-stake-pool/rollup.config.ts
  ts/packages/spl-stateless-asks/rollup.config.ts
  ts/packages/spl-token-lending/rollup.config.ts
  ts/packages/spl-token-swap/rollup.config.ts
  ts/packages/spl-token/rollup.config.ts
Labels: ts

#2539 Bump TS packages to `0.28.1-beta.1`
  ts/packages/anchor/package.json
  ts/packages/spl-associated-token-account/package.json
  ts/packages/spl-binary-option/package.json
  ts/packages/spl-binary-oracle-pair/package.json
  ts/packages/spl-feature-proposal/package.json
  ts/packages/spl-governance/package.json
  ts/packages/spl-memo/package.json
  ts/packages/spl-name-service/package.json
  ts/packages/spl-record/package.json
  ts/packages/spl-stake-pool/package.json
  ts/packages/spl-stateless-asks/package.json
  ts/packages/spl-token-lending/package.json
  ts/packages/spl-token-swap/package.json
  ts/packages/spl-token/package.json
Labels: ts

#2543 bench: Show Solana version used in tests
  bench/COMPUTE_UNITS.md
  tests/bench/README.md
  tests/bench/scripts/bump-version.ts
  tests/bench/scripts/sync-markdown.ts
  tests/bench/scripts/utils.ts
  tests/bench/tsconfig.json
Labels: bench

#2546 spl: update spl-associated-token-account version requirements
  spl/Cargo.toml
Labels: spl, dependencies

#2549 bench: Show change amount and add change note
  bench/COMPUTE_UNITS.md
  tests/bench/scripts/sync-markdown.ts
Labels: bench

#2551 lang: Fix typo in the doc
  lang/syn/src/codegen/program/entry.rs
Labels: documentation, lang
