Repository solana-foundation/anchor, pull requests merged in 2023-10, with the labels that each got.

#2644 syn: Fix generic type aliases
  CHANGELOG.md
  lang/syn/src/idl/parse/file.rs
  tests/idl/programs/client-interactions/src/lib.rs
  tests/idl/tests/client-interactions.ts
Labels: idl

#2642 Support --upgradeable-program in anchor test
  CHANGELOG.md
  cli/src/config.rs
  cli/src/lib.rs
  docs/src/pages/docs/manifest.md
Labels: cli

#2647 spl: Fix compilation error and warnings
  .github/workflows/reusable-tests.yaml
  spl/src/metadata.rs
  tests/package.json
  tests/spl/metadata/Anchor.toml
  tests/spl/metadata/Cargo.toml
  tests/spl/metadata/package.json
  tests/spl/metadata/programs/metadata/Cargo.toml
  tests/spl/metadata/programs/metadata/Xargo.toml
  tests/spl/metadata/programs/metadata/src/lib.rs
  tests/spl/metadata/tests/metadata.ts
  tests/spl/metadata/tsconfig.json
Labels: spl, tests, compile error

#2650 syn: Fix having access to empty `idl` module by default
  lang/syn/src/idl/mod.rs
  lang/syn/src/idl/types.rs
  lang/syn/src/lib.rs
Labels: idl

#2655 bench: Fix number formatting due to locale difference
  tests/bench/scripts/sync-markdown.ts
  tests/bench/scripts/utils.ts
Labels: bench

#2542 lang: Type safe bumps
  CHANGELOG.md
  bench/BINARY_SIZE.md
  bench/COMPUTE_UNITS.md
  bench/STACK_MEMORY.md
  docs/src/pages/docs/pdas.md
  examples/tutorial/basic-4/programs/basic-4/src/lib.rs
  lang/attribute/event/src/lib.rs
  lang/src/accounts/account.rs
  lang/src/accounts/account_info.rs
  lang/src/accounts/account_loader.rs
  lang/src/accounts/boxed.rs
  lang/src/accounts/interface.rs
  lang/src/accounts/interface_account.rs
  lang/src/accounts/option.rs
  lang/src/accounts/program.rs
  lang/src/accounts/signer.rs
  lang/src/accounts/system_account.rs
  lang/src/accounts/sysvar.rs
  lang/src/accounts/unchecked_account.rs
  lang/src/context.rs
  lang/src/lib.rs
  lang/src/vec.rs
  lang/syn/src/codegen/accounts/bumps.rs
  lang/syn/src/codegen/accounts/constraints.rs
  lang/syn/src/codegen/accounts/mod.rs
  lang/syn/src/codegen/accounts/try_accounts.rs
  lang/syn/src/codegen/program/handlers.rs
  tests/auction-house/programs/auction-house/src/lib.rs
  tests/bench/bench.json
  tests/chat/programs/chat/src/lib.rs
  tests/idl/programs/relations-derivation/src/lib.rs
  tests/ido-pool/programs/ido-pool/src/lib.rs
  tests/misc/programs/misc-optional/src/lib.rs
  tests/misc/programs/misc/src/lib.rs
  tests/realloc/programs/realloc/src/lib.rs
  tests/relations-derivation/programs/relations-derivation/src/lib.rs
  tests/spl/token-wrapper/programs/token-wrapper/src/lib.rs
Labels: lang

#2656 lang: Add accounts by reference
  CHANGELOG.md
  bench/BINARY_SIZE.md
  bench/COMPUTE_UNITS.md
  bench/STACK_MEMORY.md
  lang/src/accounts/account.rs
  lang/src/accounts/account_loader.rs
  lang/src/accounts/boxed.rs
  lang/src/accounts/interface.rs
  lang/src/accounts/interface_account.rs
  lang/src/accounts/option.rs
  lang/src/accounts/program.rs
  lang/src/accounts/signer.rs
  lang/src/accounts/system_account.rs
  lang/src/accounts/sysvar.rs
  lang/src/accounts/unchecked_account.rs
  lang/src/lib.rs
  lang/src/vec.rs
  lang/syn/src/codegen/accounts/try_accounts.rs
  lang/syn/src/codegen/program/dispatch.rs
  lang/syn/src/codegen/program/entry.rs
  lang/syn/src/codegen/program/handlers.rs
  lang/syn/src/lib.rs
  tests/auction-house/programs/auction-house/src/lib.rs
  tests/bench/bench.json
Labels: lang

#2657 spl: Update dependencies to their latest versions
  Cargo.lock
  lang/syn/src/codegen/accounts/constraints.rs
  spl/Cargo.toml
Labels: spl, dependencies

#2663 chore: Remove abusive cloning
  bench/BINARY_SIZE.md
  bench/COMPUTE_UNITS.md
  lang/syn/src/codegen/accounts/constraints.rs
  lang/syn/src/codegen/program/idl.rs
  spl/src/token.rs
  spl/src/token_2022.rs
  tests/bench/bench.json
Labels: spl, lang

#2661 spl: add feature memo to support cpi to spl-memo
  CHANGELOG.md
  Cargo.lock
  spl/Cargo.toml
  spl/src/lib.rs
  spl/src/memo.rs
Labels: spl

#2667 Remove the maximum version constraint from Solana crates
  .github/workflows/reusable-tests.yaml
  CHANGELOG.md
  cli/Cargo.toml
  client/Cargo.toml
  client/example/Cargo.toml
  lang/Cargo.toml
  spl/Cargo.toml
  tests/zero-copy/programs/zero-copy/Cargo.toml
Labels: dependencies

#2659 feat: Allow install, list and use from commit
  Cargo.lock
  avm/Cargo.toml
  avm/src/lib.rs
  avm/src/main.rs
Labels: avm

#2649 cli: Add ability to override toolchain from `Anchor.toml`
  CHANGELOG.md
  cli/src/config.rs
  cli/src/lib.rs
  docs/src/pages/docs/manifest.md
Labels: cli

#2671 avm: Install from version-commit and refactor
  CHANGELOG.md
  avm/Cargo.toml
  avm/src/anchor/main.rs
  avm/src/lib.rs
  avm/src/main.rs
Labels: avm

#2673 ci: Re-enable `anchor init` test
  .github/workflows/reusable-tests.yaml
Labels: ci

#2677 Fixes for Solidity/Solang
  Cargo.lock
  cli/Cargo.toml
  cli/src/lib.rs
  cli/src/solidity_template.rs
  tests/solang/solidity/flipper.sol
  ts/packages/anchor/src/provider.ts
  ts/packages/anchor/src/utils/rpc.ts
Labels: ts, cli, dependencies

#2682 syn: Add missing `new_from_array` method to `Hash`
  lang/syn/src/hash.rs
Labels: bug, compile error

#2685 ts: Use workspace dependencies and fix tests
  ts/tests/package.json
  ts/tests/src/spl/feature-proposal.ts
  ts/tests/src/spl/record.ts
  ts/tests/src/spl/stake-pool.ts
  ts/yarn.lock
Labels: ts, tests

#2686 Update base64 dependency
  Cargo.lock
  cli/Cargo.toml
  cli/src/lib.rs
  client/src/lib.rs
  lang/Cargo.toml
Labels: dependencies

#2676 Fix workspace `resolver` warning
  CHANGELOG.md
  Cargo.toml
  cli/src/rust_template.rs
  tests/anchor-cli-account/Cargo.toml
  tests/anchor-cli-idl/Cargo.toml
  tests/auction-house/Cargo.toml
  tests/bench/Cargo.toml
  tests/bpf-upgradeable-state/Cargo.toml
  tests/cashiers-check/Cargo.toml
  tests/cfo/Cargo.toml
  tests/chat/Cargo.toml
  tests/composite/Cargo.toml
  tests/cpi-returns/Cargo.toml
  tests/custom-coder/Cargo.toml
  tests/declare-id/Cargo.toml
  tests/docs/Cargo.toml
  tests/errors/Cargo.toml
  tests/escrow/Cargo.toml
  tests/events/Cargo.toml
  tests/floats/Cargo.toml
  tests/idl/Cargo.toml
  tests/ido-pool/Cargo.toml
  tests/lockup/Cargo.toml
  tests/misc/Cargo.toml
  tests/multiple-suites-run-single/Cargo.toml
  tests/multiple-suites/Cargo.toml
  tests/multisig/Cargo.toml
  tests/optional/Cargo.toml
  tests/pda-derivation/Cargo.toml
  tests/pyth/Cargo.toml
  tests/realloc/Cargo.toml
  tests/relations-derivation/Cargo.toml
  tests/safety-checks/Cargo.toml
  tests/spl/metadata/Cargo.toml
  tests/spl/token-proxy/Cargo.toml
  tests/spl/token-wrapper/Cargo.toml
  tests/swap/Cargo.toml
  tests/system-accounts/Cargo.toml
  tests/sysvars/Cargo.toml
  tests/tictactoe/Cargo.toml
  tests/typescript/Cargo.toml
  tests/validator-clone/Cargo.toml
  tests/zero-copy/Cargo.toml
Labels: cli, tests

#2690 Fix erroneous Cluster websocket ports
  client/src/cluster.rs
Labels: client
