Repository solana-foundation/anchor, pull requests merged in 2023-04, with the labels that each got.

#2461 [fix] add `.yarn` to the default gitignore of anchor-cli
  cli/src/rust_template.rs
Labels: cli

#2464 fix: used identifiers in handler
  CHANGELOG.md
  lang/syn/src/codegen/accounts/constraints.rs
  lang/syn/src/codegen/accounts/try_accounts.rs
  lang/syn/src/codegen/program/handlers.rs
  lang/syn/src/lib.rs
  tests/misc/programs/misc/src/context.rs
  tests/misc/programs/misc/src/lib.rs
  tests/zero-copy/programs/zero-copy/src/lib.rs
Labels: lang

#2473 docs: fix broken links in `AccountLoader` docs
  lang/src/accounts/account_loader.rs
Labels: documentation

#2474 Upgrade `clap` to 4.2.4
  Cargo.lock
  avm/Cargo.lock
  avm/Cargo.toml
  cli/Cargo.toml
  client/example/Cargo.toml
Labels: cli, dependencies
