Repository solana-foundation/anchor, pull requests merged in 2023-07, with the labels that each got.

#2552 lang: Add `Lamports` trait
  CHANGELOG.md
  lang/src/lib.rs
  tests/misc/Anchor.toml
  tests/misc/programs/lamports/Cargo.toml
  tests/misc/programs/lamports/Xargo.toml
  tests/misc/programs/lamports/src/lib.rs
  tests/misc/tests/lamports/Test.toml
  tests/misc/tests/lamports/lamports.ts
  tests/misc/tsconfig.json
  tests/zero-copy/rust-toolchain.toml
Labels: lang

#2550 DynSigner struct: for Solana CLI usage to wrap Box<dyn Signer> to align with Client<C>
  CHANGELOG.md
  client/src/lib.rs
Labels: client

#2555 lang: Support for `const` in the InitSpace macro
  CHANGELOG.md
  lang/derive/space/src/lib.rs
  lang/tests/space.rs
Labels: lang

#2559 fix: Allow polymorphic CPI calls matching an interface
  CHANGELOG.md
  lang/syn/src/codegen/program/cpi.rs
Labels: lang

#2011 IDL generation through compilation
  .github/workflows/reusable-tests.yaml
  CHANGELOG.md
  Cargo.lock
  cli/Cargo.toml
  cli/src/config.rs
  cli/src/lib.rs
  cli/src/rust_template.rs
  cli/src/solidity_template.rs
  lang/Cargo.toml
  lang/attribute/account/Cargo.toml
  lang/attribute/account/src/lib.rs
  lang/attribute/constant/Cargo.toml
  lang/attribute/constant/src/lib.rs
  lang/attribute/error/Cargo.toml
  lang/attribute/event/Cargo.toml
  lang/attribute/event/src/lib.rs
  lang/attribute/program/Cargo.toml
  lang/derive/accounts/Cargo.toml
  lang/derive/serde/Cargo.toml
  lang/derive/serde/src/lib.rs
  lang/src/lib.rs
  lang/syn/Cargo.toml
  lang/syn/src/codegen/accounts/__client_accounts.rs
  lang/syn/src/codegen/accounts/mod.rs
  lang/syn/src/codegen/error.rs
  lang/syn/src/codegen/program/mod.rs
  lang/syn/src/idl/build.rs
  lang/syn/src/idl/mod.rs
  lang/syn/src/idl/parse/file.rs
  lang/syn/src/idl/parse/mod.rs
  lang/syn/src/idl/parse/pda.rs
  lang/syn/src/idl/parse/relations.rs
  lang/syn/src/idl/types.rs
  lang/syn/src/lib.rs
  tests/idl-build/Anchor.toml
  tests/idl-build/Cargo.toml
  tests/idl-build/gen_testdata.sh
  tests/idl-build/package.json
  tests/idl-build/programs/generics/Cargo.toml
  tests/idl-build/programs/generics/Xargo.toml
  tests/idl-build/programs/generics/src/lib.rs
  tests/idl-build/programs/idl/Cargo.toml
  tests/idl-build/programs/idl/Xargo.toml
  tests/idl-build/programs/idl/src/lib.rs
  tests/idl-build/programs/relations-derivation/Cargo.toml
  tests/idl-build/programs/relations-derivation/Xargo.toml
  tests/idl-build/programs/relations-derivation/src/lib.rs
  tests/idl-build/programs/some_external_program/Cargo.toml
  tests/idl-build/programs/some_external_program/Xargo.toml
  tests/idl-build/programs/some_external_program/src/lib.rs
  tests/idl-build/test.sh
  tests/idl-build/tests/testdata/generics_build_exp.json
  tests/idl-build/tests/testdata/idl_build_exp.json
  tests/idl-build/tests/testdata/idl_parse_exp.json
  tests/idl-build/tests/testdata/relations_build_exp.json
  tests/idl-build/tsconfig.json
  tests/package.json
Labels: lang, cli, idl

#2564 Remove IDL `path` field
  cli/src/lib.rs
  lang/syn/src/idl/build.rs
  lang/syn/src/idl/parse/file.rs
  lang/syn/src/idl/types.rs
  tests/idl-build/tests/testdata/generics_build_exp.json
  tests/idl-build/tests/testdata/idl_build_exp.json
  tests/idl-build/tests/testdata/relations_build_exp.json
Labels: lang, cli, idl

#2566 cli: Add `--out` and `--out-ts` arguments for `idl build` command
  cli/src/lib.rs
  tests/idl-build/gen_testdata.sh
  tests/idl-build/test.sh
  tests/idl-build/tests/testdata/generics_build_exp.json
  tests/idl-build/tests/testdata/idl_build_exp.json
  tests/idl-build/tests/testdata/idl_parse_exp.json
  tests/idl-build/tests/testdata/relations_build_exp.json
Labels: cli

#2569 Bump `solang-parser` version
  Cargo.lock
  cli/Cargo.toml
Labels: cli, dependencies

#2570 cli: Fix workspace inheritence
  CHANGELOG.md
  Cargo.lock
  cli/Cargo.toml
Labels: cli, dependencies

#2572 client: Fix compilation with Solana `1.14`
  CHANGELOG.md
  client/src/lib.rs
Labels: client, compile error

#2573 tests: Refactor IDL tests
  .github/workflows/reusable-tests.yaml
  tests/idl-build/Anchor.toml
  tests/idl-build/gen_testdata.sh
  tests/idl/Anchor.toml
  tests/idl/Cargo.toml
  tests/idl/generate.sh
  tests/idl/idls/generics_build_exp.json
  tests/idl/idls/idl_build_exp.json
  tests/idl/idls/idl_parse_exp.json
  tests/idl/idls/relations_build_exp.json
  tests/idl/package.json
  tests/idl/programs/external/Cargo.toml
  tests/idl/programs/external/Xargo.toml
  tests/idl/programs/external/src/lib.rs
  tests/idl/programs/generics/Cargo.toml
  tests/idl/programs/generics/Xargo.toml
  tests/idl/programs/generics/src/lib.rs
  tests/idl/programs/idl/Cargo.toml
  tests/idl/programs/idl/Xargo.toml
  tests/idl/programs/idl/src/lib.rs
  tests/idl/programs/relations-derivation/Cargo.toml
  tests/idl/programs/relations-derivation/Xargo.toml
  tests/idl/programs/relations-derivation/src/lib.rs
  tests/idl/test.sh
  tests/idl/tsconfig.json
  tests/package.json
Labels: ci, tests

#2575 cli: Fix `anchor build --no-docs`
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli, idl

#2553 Dromaz/avm use
  CHANGELOG.md
  avm/src/lib.rs
  avm/src/main.rs
Labels: avm

#2577 chore: Remove unused crates
  Cargo.lock
  avm/Cargo.toml
  cli/Cargo.toml
  lang/attribute/access-control/Cargo.toml
  lang/attribute/account/Cargo.toml
  lang/attribute/constant/Cargo.toml
  lang/attribute/error/Cargo.toml
  lang/attribute/event/Cargo.toml
  lang/attribute/program/Cargo.toml
  lang/derive/accounts/Cargo.toml
Labels: dependencies

#2578 cli: Automatically decide IDL generation method
  cli/src/lib.rs
  lang/syn/src/idl/build.rs
  lang/syn/src/idl/parse/file.rs
  tests/idl/test.sh
  tests/idl/tests/idl.ts
Labels: cli, idl

#2579 ts: Lazy load workspace programs and improve program name accessor
  CHANGELOG.md
  tests/idl/Anchor.toml
  tests/idl/tests/idl.ts
  ts/packages/anchor/src/workspace.ts
Labels: ts

#2580 chore: Use @noble/hashes/sha256 rather than obscure package
  ts/packages/anchor/package.json
  ts/packages/anchor/rollup.config.ts
  ts/packages/anchor/src/coder/borsh/accounts.ts
  ts/packages/anchor/src/coder/borsh/discriminator.ts
  ts/packages/anchor/src/coder/borsh/event.ts
  ts/packages/anchor/src/coder/borsh/index.ts
  ts/packages/anchor/src/coder/borsh/instruction.ts
  ts/packages/anchor/src/utils/pubkey.ts
  ts/packages/anchor/src/utils/sha256.ts
  ts/packages/anchor/tests/coder-accounts.spec.ts
  ts/packages/spl-associated-token-account/rollup.config.ts
  ts/packages/spl-binary-option/rollup.config.ts
  ts/packages/spl-binary-oracle-pair/rollup.config.ts
  ts/packages/spl-feature-proposal/rollup.config.ts
  ts/packages/spl-governance/rollup.config.ts
  ts/packages/spl-memo/rollup.config.ts
  ts/packages/spl-name-service/rollup.config.ts
  ts/packages/spl-record/rollup.config.ts
  ts/packages/spl-stake-pool/rollup.config.ts
  ts/packages/spl-stateless-asks/rollup.config.ts
  ts/packages/spl-token-lending/rollup.config.ts
  ts/packages/spl-token-swap/rollup.config.ts
  ts/packages/spl-token/rollup.config.ts
  ts/yarn.lock
Labels: ts, dependencies

#2581 Improve IDL comparison tests
  tests/idl/Anchor.toml
  tests/idl/generate.sh
  tests/idl/idls/build.json
  tests/idl/idls/generics_build.json
  tests/idl/idls/parse.json
  tests/idl/idls/relations_build.json
  tests/idl/test.sh
Labels: tests

#2582 Make the new IDL features explicit
  CHANGELOG.md
  cli/src/lib.rs
  lang/syn/Cargo.toml
  lang/syn/src/idl/mod.rs
  lang/syn/src/idl/parse/file.rs
Labels: idl

#2583 spl: Export `mpl-token-metadata` crate
  CHANGELOG.md
  spl/src/metadata.rs
Labels: spl
