Repository solana-foundation/anchor, pull requests merged in 2023-11, with the labels that each got.

#2694 cli: Make `cargo build-sbf` the default build command
  .github/workflows/reusable-tests.yaml
  CHANGELOG.md
  cli/src/lib.rs
  tests/zero-copy/programs/zero-copy/Cargo.toml
  tests/zero-copy/programs/zero-copy/tests/compute_unit_test.rs
Labels: cli

#2696 cli: Fix using user specific path for `provider.wallet`
  CHANGELOG.md
  cli/src/config.rs
  cli/src/lib.rs
  cli/src/path.rs
Labels: cli

#2698 cli: Add ability to force init and new commands via cli
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli

#2700 cli: Improve error handling of toolchain overrides
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli

#2699 Add path to PDA seeds parse
  CHANGELOG.md
  lang/syn/src/idl/parse/pda.rs
  tests/relations-derivation/programs/relations-derivation/src/lib.rs
  tests/relations-derivation/tests/typescript.spec.ts
Labels: bug, idl

#2704 cli: Fix commit based `anchor_version` override
  CHANGELOG.md
  cli/src/lib.rs
Labels: bug, cli

#2705 feat: add verifiable option in deploy command
  CHANGELOG.md
  cli/src/config.rs
  cli/src/lib.rs
Labels: cli

#2707 client: expose more parts from logs parsing
  client/src/lib.rs
Labels: client

#2709 cli: Add support for passing arguments to `solana program deploy`
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli

#2712 docs: explicitely state where to initialize the new anchor program
  docs/src/pages/docs/cross-program-invocations.md
Labels: documentation

#2713 lang: Remove the unnecessary clone in `to_account_info().clone()`
  lang/syn/src/codegen/program/idl.rs
  tests/cashiers-check/programs/cashiers-check/src/lib.rs
  tests/escrow/programs/escrow/src/lib.rs
  tests/lockup/programs/registry/src/lib.rs
  tests/spl/token-proxy/programs/token-proxy/src/lib.rs
Labels: lang

#2716 cli: Require explicit `overflow-checks` flag
  CHANGELOG.md
  bench/BINARY_SIZE.md
  bench/COMPUTE_UNITS.md
  cli/src/checks.rs
  cli/src/config.rs
  cli/src/lib.rs
  examples/tutorial/basic-0/Cargo.toml
  examples/tutorial/basic-1/Cargo.toml
  examples/tutorial/basic-2/Cargo.toml
  examples/tutorial/basic-3/Cargo.toml
  examples/tutorial/basic-4/Cargo.toml
  examples/tutorial/basic-5/Cargo.toml
  tests/auction-house/Cargo.toml
  tests/bench/Cargo.toml
  tests/bench/bench.json
  tests/bpf-upgradeable-state/Cargo.toml
  tests/cashiers-check/Cargo.toml
  tests/cfo/Cargo.toml
  tests/chat/Cargo.toml
  tests/composite/Cargo.toml
  tests/cpi-returns/Cargo.toml
  tests/custom-coder/Cargo.toml
  tests/declare-id/Cargo.toml
  tests/docs/Cargo.toml
  tests/errors/Cargo.toml
  tests/escrow/Cargo.toml
  tests/events/Cargo.toml
  tests/floats/Cargo.toml
  tests/ido-pool/Cargo.toml
  tests/lockup/Cargo.toml
  tests/misc/Anchor.toml
  tests/misc/Cargo.toml
  tests/misc/programs/overflow-checks/Cargo.toml
  tests/misc/programs/overflow-checks/Xargo.toml
  tests/misc/programs/overflow-checks/src/lib.rs
  tests/misc/tests/overflow-checks/Test.toml
  tests/misc/tests/overflow-checks/overflow-checks.ts
  tests/multiple-suites-run-single/Cargo.toml
  tests/multiple-suites/Cargo.toml
  tests/multisig/Cargo.toml
  tests/optional/Cargo.toml
  tests/pda-derivation/Cargo.toml
  tests/pyth/Cargo.toml
  tests/realloc/Cargo.toml
  tests/relations-derivation/Cargo.toml
  tests/safety-checks/Cargo.toml
  tests/spl/token-proxy/Cargo.toml
  tests/spl/token-wrapper/Cargo.toml
  tests/swap/Cargo.toml
  tests/system-accounts/Cargo.toml
  tests/sysvars/Cargo.toml
  tests/tictactoe/Cargo.toml
  tests/typescript/Cargo.toml
  tests/validator-clone/Cargo.toml
  tests/zero-copy/Cargo.toml
Labels: cli
