Repository solana-foundation/anchor, pull requests merged in 2023-09, with the labels that each got.

#2620 cli: Fix `anchor account` command panicking outside of workspace
  CHANGELOG.md
  cli/src/lib.rs
Labels: bug, cli

#2621 cli: Make conflicting account names a compile-time error
  cli/src/lib.rs
  tests/idl/Anchor.toml
  tests/idl/programs/idl-build-features/Cargo.toml
  tests/idl/programs/idl-build-features/Xargo.toml
  tests/idl/programs/idl-build-features/src/lib.rs
  tests/idl/tests/idl-build-features.ts
Labels: cli, tests, idl

#2622 Add byte slice(`&[u8]`) support for `idl-build`
  lang/syn/src/idl/build.rs
  tests/idl/idls/build.json
  tests/idl/idls/parse.json
  tests/idl/programs/idl/src/lib.rs
  tests/idl/tests/idl.ts
Labels: idl

#2627 ts: Add strong type support for `addEventListener`
  CHANGELOG.md
  tests/events/Anchor.toml
  tests/events/tests/events.ts
  tests/events/tsconfig.json
  ts/packages/anchor/src/program/index.ts
Labels: ts

#2629 Add `IdlBuild` trait
  lang/Cargo.toml
  lang/attribute/account/src/lib.rs
  lang/attribute/event/src/lib.rs
  lang/derive/serde/src/lib.rs
  lang/src/lib.rs
  lang/syn/src/codegen/accounts/mod.rs
  lang/syn/src/codegen/error.rs
  lang/syn/src/codegen/program/mod.rs
  lang/syn/src/idl/build.rs
  spl/Cargo.toml
  spl/src/governance.rs
  spl/src/metadata.rs
  spl/src/stake.rs
  spl/src/token.rs
  spl/src/token_interface.rs
  tests/idl/idls/build.json
  tests/idl/idls/parse.json
  tests/idl/programs/idl/Cargo.toml
  tests/idl/programs/idl/src/lib.rs
Labels: spl, lang, idl

#2631 docs: Add tuple enum JS client documentation
  docs/package-lock.json
  docs/src/pages/docs/javascript-anchor-types.md
Labels: documentation

#2633 syn: Fix IDL named enum variant field being snake_case
  CHANGELOG.md
  lang/syn/src/idl/parse/file.rs
  tests/idl/idls/parse.json
  tests/idl/programs/client-interactions/src/lib.rs
  tests/idl/tests/client-interactions.ts
Labels: bug, idl

#2632 Using token metadata client sdk
  CHANGELOG.md
  Cargo.lock
  spl/Cargo.toml
  spl/src/metadata.rs
Labels: spl, dependencies

#2635 ts: Remove `base64-js` dependency
  ts/packages/anchor/package.json
  ts/packages/anchor/rollup.config.ts
  ts/packages/anchor/src/coder/borsh/event.ts
  ts/packages/anchor/src/utils/bytes/base64.ts
  ts/packages/spl-associated-token-account/rollup.config.ts
  ts/packages/spl-binary-option/rollup.config.ts
  ts/packages/spl-binary-oracle-pair/rollup.config.ts
  ts/packages/spl-feature-proposal/rollup.config.ts
  ts/packages/spl-governance/rollup.config.ts
  ts/packages/spl-memo/rollup.config.ts
  ts/packages/spl-name-service/rollup.config.ts
  ts/packages/spl-record/rollup.config.ts
  ts/packages/spl-stake-pool/rollup.config.ts
  ts/packages/spl-stateless-asks/rollup.config.ts
  ts/packages/spl-token-lending/rollup.config.ts
  ts/packages/spl-token-swap/rollup.config.ts
  ts/packages/spl-token/rollup.config.ts
  ts/tests/package.json
  ts/yarn.lock
Labels: ts, dependencies

#2636 Update to solang v0.3.2 and add simple test
  .github/actions/setup-solana/action.yaml
  .github/workflows/no-caching-tests.yaml
  .github/workflows/reusable-tests.yaml
  .github/workflows/tests.yaml
  Cargo.lock
  cli/Cargo.toml
  cli/src/config.rs
  cli/src/solidity_template.rs
  tests/package.json
  tests/solang/.gitignore
  tests/solang/.prettierignore
  tests/solang/Anchor.toml
  tests/solang/migrations/deploy.ts
  tests/solang/package.json
  tests/solang/solidity/flipper.sol
  tests/solang/tests/solang.ts
  tests/solang/tsconfig.json
Labels: cli, ci, tests

#2637 Add type alias support
  CHANGELOG.md
  cli/src/lib.rs
  lang/syn/src/idl/parse/file.rs
  lang/syn/src/idl/types.rs
  lang/syn/src/parser/context.rs
  tests/idl/programs/client-interactions/src/lib.rs
  tests/idl/tests/client-interactions.ts
  ts/packages/anchor/src/coder/borsh/idl.ts
  ts/packages/anchor/src/coder/borsh/instruction.ts
  ts/packages/anchor/src/coder/common.ts
  ts/packages/anchor/src/idl.ts
  ts/packages/anchor/src/program/namespace/types.ts
Labels: enhancement, ts, cli, tests, idl
