Repository solana-foundation/anchor, pull requests merged in 2023-08, with the labels that each got.

#2587 Fix typo in account.rs docs
  lang/src/accounts/account.rs
Labels: documentation

#2588 cli: Improve converting non-conflicting paths to names in IDL
  cli/src/lib.rs
  tests/idl/idls/build.json
Labels: cli, idl

#2590 chore: Remove duplicate dependency and and alphabetize features
  avm/Cargo.toml
  cli/Cargo.toml
  client/Cargo.toml
  client/example/Cargo.toml
  lang/Cargo.toml
  lang/attribute/account/Cargo.toml
  lang/attribute/constant/Cargo.toml
  lang/attribute/error/Cargo.toml
  lang/attribute/event/Cargo.toml
  lang/attribute/program/Cargo.toml
  lang/derive/accounts/Cargo.toml
  lang/derive/serde/Cargo.toml
  lang/derive/space/Cargo.toml
  lang/syn/Cargo.toml
  spl/Cargo.toml
Labels: dependencies

#2591 bench: Add benchmarking for program binary size
  bench/BINARY_SIZE.md
  bench/COMPUTE_UNITS.md
  tests/bench/bench.json
  tests/bench/scripts/sync-markdown.ts
  tests/bench/scripts/sync.ts
  tests/bench/scripts/utils.ts
  tests/bench/tests/binary-size.ts
  tests/bench/tests/compute-units.ts
Labels: bench

#2597 feat: add TokenRecordAccount for pNFTs
  spl/src/metadata.rs
Labels: spl

#2601 ts: Add support for unnamed(tuple) enum in accounts
  CHANGELOG.md
  tests/misc/programs/misc-optional/src/account.rs
  tests/misc/programs/misc-optional/src/context.rs
  tests/misc/programs/misc-optional/src/event.rs
  tests/misc/programs/misc-optional/src/lib.rs
  tests/misc/programs/misc/src/account.rs
  tests/misc/programs/misc/src/context.rs
  tests/misc/programs/misc/src/event.rs
  tests/misc/programs/misc/src/lib.rs
  tests/misc/tests/misc/misc.ts
  ts/packages/anchor/src/coder/common.ts
Labels: ts, idl

#2602 cli: Add program template with multiple files
  CHANGELOG.md
  cli/src/lib.rs
  cli/src/rust_template.rs
  cli/src/solidity_template.rs
Labels: cli

#2606 tests: Move IDL related tests in `misc` to `idl`
  tests/idl/Anchor.toml
  tests/idl/idls/build.json
  tests/idl/idls/parse.json
  tests/idl/programs/client-interactions/Cargo.toml
  tests/idl/programs/client-interactions/Xargo.toml
  tests/idl/programs/client-interactions/src/lib.rs
  tests/idl/programs/docs/Cargo.toml
  tests/idl/programs/docs/Xargo.toml
  tests/idl/programs/docs/src/lib.rs
  tests/idl/programs/idl/src/lib.rs
  tests/idl/tests/client-interactions.ts
  tests/idl/tests/docs.ts
  tests/idl/tests/idl.ts
  tests/idl/tests/workspace.ts
  tests/misc/Anchor.toml
  tests/misc/programs/misc-optional/src/account.rs
  tests/misc/programs/misc-optional/src/context.rs
  tests/misc/programs/misc-optional/src/event.rs
  tests/misc/programs/misc-optional/src/lib.rs
  tests/misc/programs/misc/src/account.rs
  tests/misc/programs/misc/src/context.rs
  tests/misc/programs/misc/src/event.rs
  tests/misc/programs/misc/src/lib.rs
  tests/misc/tests/idl_doc/Test.toml
  tests/misc/tests/idl_doc/idl_doc.ts
  tests/misc/tests/misc/misc.ts
Labels: tests

#2603 lang: `associated_token` constraints don't work when setting `token_program`
  CHANGELOG.md
  lang/syn/src/codegen/accounts/constraints.rs
  tests/misc/programs/misc-optional/src/context.rs
  tests/misc/programs/misc/src/context.rs
  tests/misc/tests/misc/misc.ts
Labels: bug, lang

#2616 ts: Bump packages to `0.28.1-beta.2`
  ts/packages/anchor/package.json
  ts/packages/spl-associated-token-account/package.json
  ts/packages/spl-binary-option/package.json
  ts/packages/spl-binary-oracle-pair/package.json
  ts/packages/spl-feature-proposal/package.json
  ts/packages/spl-governance/package.json
  ts/packages/spl-memo/package.json
  ts/packages/spl-name-service/package.json
  ts/packages/spl-record/package.json
  ts/packages/spl-stake-pool/package.json
  ts/packages/spl-stateless-asks/package.json
  ts/packages/spl-token-lending/package.json
  ts/packages/spl-token-swap/package.json
  ts/packages/spl-token/package.json
Labels: ts

#2617 bench: Add benchmarking for stack memory usage
  bench/STACK_MEMORY.md
  tests/bench/bench.json
  tests/bench/scripts/sync.ts
  tests/bench/scripts/utils.ts
  tests/bench/tests/binary-size.ts
  tests/bench/tests/compute-units.ts
  tests/bench/tests/stack-memory.ts
  tests/bench/tsconfig.json
Labels: bench

#2600 lang: boxed the inner Enums of anchor_lang::error to fit within 128 bytes
  .clippy.toml
  CHANGELOG.md
  bench/BINARY_SIZE.md
  bench/COMPUTE_UNITS.md
  bench/STACK_MEMORY.md
  lang/src/error.rs
  tests/bench/bench.json
Labels: lang
