Repository solana-foundation/anchor, pull requests merged in 2024-10, with the labels that each got.

#3288 avm: Remove unused `VERSION` declaration
  avm/src/main.rs
Labels: avm, fix

#3290 lang: Fix using non-instruction composite accounts with `declare_program!`
  CHANGELOG.md
  lang/attribute/program/src/declare_program/mods/internal.rs
  tests/declare-program/idls/external.json
  tests/declare-program/programs/declare-program/src/lib.rs
  tests/declare-program/programs/external/src/lib.rs
Labels: lang, fix

#3293 docs: Add installation based on commit hash to `avm install`
  docs/src/pages/docs/avm.md
Labels: documentation

#3294 idl: Fix instructions with tuple parameters not producing an error
  CHANGELOG.md
  lang/syn/src/idl/program.rs
Labels: idl, fix

#3295 ts: Add documentation for all builder methods
  ts/packages/anchor/src/program/namespace/methods.ts
Labels: documentation, ts

#3299 cli: Inform users to rebuild their programs after running `keys sync`
  cli/src/lib.rs
Labels: cli, feature

#3301 ts: Update `engines.node` to `>= 17`
  CHANGELOG.md
  examples/tutorial/basic-0/package.json
  examples/tutorial/basic-1/package.json
  examples/tutorial/basic-2/package.json
  examples/tutorial/basic-3/package.json
  examples/tutorial/basic-4/package.json
  examples/tutorial/basic-5/package.json
  tests/anchor-cli-account/package.json
  tests/anchor-cli-idl/package.json
  tests/bpf-upgradeable-state/package.json
  tests/cashiers-check/package.json
  tests/cfo/package.json
  tests/chat/package.json
  tests/composite/package.json
  tests/cpi-returns/package.json
  tests/custom-coder/package.json
  tests/declare-id/package.json
  tests/docs/package.json
  tests/errors/package.json
  tests/escrow/package.json
  tests/events/package.json
  tests/floats/package.json
  tests/ido-pool/package.json
  tests/lockup/package.json
  tests/misc/package.json
  tests/multiple-suites-run-single/package.json
  tests/multiple-suites/package.json
  tests/multisig/package.json
  tests/optional/package.json
  tests/pda-derivation/package.json
  tests/pyth/package.json
  tests/realloc/package.json
  tests/relations-derivation/package.json
  tests/solang/package.json
  tests/spl/token-extensions/package.json
  tests/spl/token-proxy/package.json
  tests/spl/token-wrapper/package.json
  tests/spl/transfer-hook/package.json
  tests/swap/package.json
  tests/system-accounts/package.json
  tests/sysvars/package.json
  tests/tictactoe/package.json
  tests/typescript/package.json
  tests/validator-clone/package.json
  tests/zero-copy/package.json
  ts/packages/anchor/package.json
Labels: ts, fix

#3307 cli: Use OS-agnostic paths
  CHANGELOG.md
  cli/src/config.rs
  cli/src/lib.rs
Labels: cli, fix

#3309 cli: Add `--program-id` option to `idl convert` command
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli, feature

#3310 ci: Re-enable the `anchor init` test
  .github/workflows/reusable-tests.yaml
Labels: ci

#3311 lang: Generate documentation of constants in `declare_program!`
  CHANGELOG.md
  lang/attribute/program/src/declare_program/mods/constants.rs
  tests/declare-program/idls/external.json
  tests/declare-program/programs/external/src/lib.rs
Labels: lang, feature

#3312 cli: Fix `No such file or directory (os error 2)` error when using `idl build`
  cli/src/lib.rs
Labels: cli, fix

#3315 avm: Use `rustc 1.79.0` when installing versions older than v0.31
  CHANGELOG.md
  avm/src/lib.rs
Labels: avm, fix

#3313 chore: fix typo
  docs/src/pages/docs/the-accounts-struct.md
Labels: documentation

#3317 docs: Add `workspace.exclude` documentation
  docs/src/pages/docs/manifest.md
Labels: documentation

#3321 docs: Add dedicated issues section to the installation page
  docs/src/pages/docs/installation.md
Labels: documentation

#3323 client: Add `mock` feature documentation
  client/src/lib.rs
Labels: documentation, client

#3324 cli: Add support for fetching legacy IDLs
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli, idl, feature

#3326 feat: add alias to avm cli commands install and list
  CHANGELOG.md
  avm/src/main.rs
Labels: avm, feature

#3327 docs: Remove redundant `avm use latest` after installation
  docs/src/pages/docs/installation.md
Labels: documentation

#3325 avm: Add Windows support for renaming anchor binary
  CHANGELOG.md
  avm/src/lib.rs
Labels: avm, feature

#3329 docs: Add "Missing dependencies" installation issue
  docs/src/pages/docs/installation.md
Labels: documentation

#3330 avm: Move `tempfile` to `dev-dependencies`
  avm/Cargo.toml
Labels: dependencies, avm, fix

#3331 ts: Remove unused imports
  ts/packages/anchor/src/program/namespace/simulate.ts
  ts/packages/anchor/src/program/namespace/transaction.ts
Labels: ts, fix

#3335 docs: Add `idl build` command documentation
  docs/src/pages/docs/cli.md
Labels: documentation

#3328 feat: add options for package manager
  CHANGELOG.md
  cli/src/checks.rs
  cli/src/config.rs
  cli/src/lib.rs
  cli/src/rust_template.rs
Labels: cli, feature

#3337 cli: Fix the default JS update command being incorrect
  cli/src/checks.rs
Labels: cli, fix
