Repository solana-foundation/anchor, pull requests merged in 2024-06, with the labels that each got.

#2999 feat: Export `create_associated_token_account` and `create_associated_token_account_idempotent`
  CHANGELOG.md
  spl/src/associated_token.rs
Labels: spl

#2998 feat: anchor upgrade with additional solana args
  CHANGELOG.md
  cli/src/lib.rs
Labels: enhancement, cli

#2997 lang: Support legacy IDLs with `declare_program!`
  CHANGELOG.md
  lang/attribute/program/Cargo.toml
  lang/attribute/program/src/declare_program/mod.rs
  tests/declare-program/idls/external_legacy.json
  tests/declare-program/programs/declare-program/src/lib.rs
Labels: lang, next

#3009 cli: Add `idl convert` command
  CHANGELOG.md
  cli/Cargo.toml
  cli/src/lib.rs
Labels: enhancement, cli, idl

#3008 [client example] update run-test.sh script to build and check validator state
  client/example/run-test.sh
Labels: examples, client

#3010 cli: Fix upgradeable program clones
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli, next, fix

#3016 Fix generics being parsed wrong in idl
  CHANGELOG.md
  tests/idl/programs/new-idl/src/lib.rs
  tests/idl/tests/new-idl.ts
  ts/packages/anchor/src/coder/borsh/idl.ts
Labels: ts, fix

#3017 cli: Add `idl type` command
  CHANGELOG.md
  cli/src/lib.rs
  cli/src/rust_template.rs
Labels: cli, idl, feature

#3023 cli: Sync program ids on the initial build
  CHANGELOG.md
  cli/src/config.rs
Labels: cli, feature

#3021 lang: add anchor_lang::pubkey macro for declaring const Pubkey values
  CHANGELOG.md
  lang/attribute/account/src/id.rs
  lang/attribute/account/src/lib.rs
  lang/src/lib.rs
  lang/tests/macros.rs
Labels: lang, feature

#3026 lang: Include `pubkey!` macro in `prelude`
  lang/src/lib.rs
  tests/idl/programs/idl/src/lib.rs
Labels: lang, feature

#3030 idl: Remove `anchor-syn` dependency
  CHANGELOG.md
  Cargo.lock
  idl/Cargo.toml
  idl/src/build.rs
  lang/syn/src/idl/program.rs
Labels: dependencies, idl, feature

#3033 idl: Fix generation with unsupported expressions
  CHANGELOG.md
  lang/syn/src/idl/accounts.rs
  tests/pda-derivation/programs/pda-derivation/src/lib.rs
  tests/pda-derivation/tests/typescript.spec.ts
Labels: idl, fix

#3019 lang: Add const of program ID to `declare_id!` and `declare_program!`
  CHANGELOG.md
  lang/attribute/account/src/id.rs
  lang/attribute/program/src/declare_program/mod.rs
Labels: lang, feature

#3034 idl: Fix using `address` constraint with field expressions
  CHANGELOG.md
  lang/syn/src/idl/accounts.rs
  tests/relations-derivation/programs/relations-derivation/src/lib.rs
  tests/relations-derivation/tests/typescript.spec.ts
Labels: idl, fix

#3037 fix: correct unsafe bytemuck trait path
  CHANGELOG.md
  lang/attribute/program/src/declare_program/mods/accounts.rs
Labels: lang, next, fix

#3036 idl: Add separate spec crate
  CHANGELOG.md
  Cargo.lock
  cli/src/lib.rs
  idl/Cargo.toml
  idl/spec/Cargo.toml
  idl/spec/src/lib.rs
  idl/src/convert.rs
  idl/src/lib.rs
  lang/attribute/program/src/declare_program/mod.rs
Labels: dependencies, next, idl

#3039 Upgrade Solana to 1.18.17
  .github/workflows/no-caching-tests.yaml
  .github/workflows/tests.yaml
  Cargo.lock
  docker/Makefile
  setup-tests.sh
Labels: ci, dependencies, docker

#3048 docs: Reverse the order of release notes
  docs/src/pages/_app.jsx
Labels: documentation

#3052 ts: add commitment param to addEventListener
  CHANGELOG.md
  ts/packages/anchor/src/program/event.ts
  ts/packages/anchor/src/program/index.ts
Labels: ts, feature

#3045 idl: Make safety comment checks fail silently when program path env is not set
  CHANGELOG.md
  lang/syn/src/idl/common.rs
  lang/syn/src/idl/external.rs
  lang/syn/src/idl/program.rs
Labels: lang, idl, fix

#3058 fix: avoid interference from rust tests during IDL generation
  CHANGELOG.md
  idl/src/build.rs
Labels: idl, fix

#3059 pass cargo args to idl generation
  CHANGELOG.md
  cli/src/lib.rs
  idl/src/build.rs
Labels: idl, feature
