Repository solana-foundation/anchor, pull requests merged in 2024-01, with the labels that each got.

#2753 cli: Check `anchor-lang` and CLI version compatibility
  CHANGELOG.md
  cli/src/checks.rs
  cli/src/lib.rs
Labels: enhancement, cli

#2752 ts: Add IDL seed types
  CHANGELOG.md
  ts/packages/anchor/src/idl.ts
  ts/packages/anchor/src/program/accounts-resolver.ts
Labels: ts

#2757 cli: set I/O stream to `Stdio:null` if the given `solana_version` is already installed
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli

#2763 Fix enum parsing bug
  CHANGELOG.md
  ts/packages/anchor/src/coder/borsh/instruction.ts
Labels: ts

#2767 cli: Fix `migrate` command not working without global `ts-node` installation
  CHANGELOG.md
  cli/src/lib.rs
  lang/syn/src/idl/parse/file.rs
Labels: cli

#2774 Enable all features for docs.rs build
  CHANGELOG.md
  client/Cargo.toml
  client/src/lib.rs
  lang/Cargo.toml
  lang/src/lib.rs
  lang/syn/Cargo.toml
  lang/syn/src/lib.rs
  spl/Cargo.toml
  spl/src/lib.rs
Labels: documentation

#2772 docs: proofreading the changelog
  CHANGELOG.md
  docs/src/pages/docs/changelog.md
Labels: documentation

#2760 cli: idl close to directly an idl address
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli, idl

#2778 cli: Remove redundant Solidity code
  cli/src/solidity_template.rs
Labels: cli

#2779 client: Add crate level examples and features docs
  client/Cargo.toml
  client/src/lib.rs
Labels: documentation, client

#2785 :sparkles: Add support for simple wilcard Anchor.toml's workspace.members
  CHANGELOG.md
  cli/src/config.rs
Labels: cli

#2798 Specify `solana-program` version range to not include 1.18.0
  cli/Cargo.toml
  client/Cargo.toml
  client/example/Cargo.toml
  lang/Cargo.toml
  spl/Cargo.toml
  tests/zero-copy/programs/zero-copy/Cargo.toml
Labels: dependencies

#2796 docs: minor fixes to JS Anchor types
  docs/src/pages/docs/javascript-anchor-types.md
Labels: documentation
