Repository solana-foundation/anchor, pull requests merged in 2024-09, with the labels that each got.

#3214 chore: minor typos in intro-to-solana.md
  docs/src/pages/docs/intro-to-solana.md
Labels: documentation

#3194 lang: Add `LazyAccount`
  .github/workflows/reusable-tests.yaml
  CHANGELOG.md
  lang/Cargo.toml
  lang/attribute/account/Cargo.toml
  lang/attribute/account/src/lazy.rs
  lang/attribute/account/src/lib.rs
  lang/derive/serde/Cargo.toml
  lang/derive/serde/src/lazy.rs
  lang/derive/serde/src/lib.rs
  lang/src/accounts/lazy_account.rs
  lang/src/accounts/mod.rs
  lang/src/lazy.rs
  lang/src/lib.rs
  lang/syn/src/codegen/accounts/constraints.rs
  lang/syn/src/codegen/accounts/exit.rs
  lang/syn/src/idl/accounts.rs
  lang/syn/src/lib.rs
  lang/syn/src/parser/accounts/constraints.rs
  lang/syn/src/parser/accounts/mod.rs
  tests/lazy-account/Anchor.toml
  tests/lazy-account/Cargo.toml
  tests/lazy-account/package.json
  tests/lazy-account/programs/lazy-account/Cargo.toml
  tests/lazy-account/programs/lazy-account/Xargo.toml
  tests/lazy-account/programs/lazy-account/src/lib.rs
  tests/lazy-account/tests/lazy-account.ts
  tests/lazy-account/tsconfig.json
  tests/package.json
Labels: lang, feature, performance

#3218 lang: Optimize sized fields when using `LazyAccount`
  lang/attribute/account/src/lazy.rs
  lang/derive/serde/src/lazy.rs
  lang/src/lazy.rs
Labels: lang, fix

#3217 chore: replace broken link with solana playground intro-to-solana.md
  docs/src/pages/docs/intro-to-solana.md
Labels: documentation, fix

#3221 ts: Upgrade `typescript` to 5.5.4
  CHANGELOG.md
  ts/packages/anchor/package.json
  ts/packages/anchor/src/program/namespace/methods.ts
  ts/packages/anchor/src/program/namespace/simulate.ts
  ts/yarn.lock
Labels: ts, dependencies, breaking

#3224 ts: Remove `StateCoder`
  CHANGELOG.md
  ts/packages/anchor/src/coder/index.ts
  ts/packages/spl-associated-token-account/src/coder/index.ts
  ts/packages/spl-associated-token-account/src/coder/state.ts
  ts/packages/spl-binary-option/src/coder/index.ts
  ts/packages/spl-binary-option/src/coder/state.ts
  ts/packages/spl-binary-oracle-pair/src/coder/index.ts
  ts/packages/spl-binary-oracle-pair/src/coder/state.ts
  ts/packages/spl-feature-proposal/src/coder/index.ts
  ts/packages/spl-feature-proposal/src/coder/state.ts
  ts/packages/spl-governance/src/coder/index.ts
  ts/packages/spl-governance/src/coder/state.ts
  ts/packages/spl-memo/src/coder/index.ts
  ts/packages/spl-memo/src/coder/state.ts
  ts/packages/spl-name-service/src/coder/index.ts
  ts/packages/spl-name-service/src/coder/state.ts
  ts/packages/spl-record/src/coder/index.ts
  ts/packages/spl-record/src/coder/state.ts
  ts/packages/spl-stake-pool/src/coder/index.ts
  ts/packages/spl-stake-pool/src/coder/state.ts
  ts/packages/spl-stateless-asks/src/coder/index.ts
  ts/packages/spl-stateless-asks/src/coder/state.ts
  ts/packages/spl-token-lending/src/coder/index.ts
  ts/packages/spl-token-lending/src/coder/state.ts
  ts/packages/spl-token-swap/src/coder/index.ts
  ts/packages/spl-token-swap/src/coder/state.ts
  ts/packages/spl-token/src/coder/index.ts
  ts/packages/spl-token/src/coder/state.ts
Labels: ts, breaking

#3228 idl: Fix using full path types with `Program`
  CHANGELOG.md
  lang/syn/src/idl/accounts.rs
  tests/idl/programs/new-idl/src/lib.rs
Labels: idl, fix

#3230 avm: Ask whether to install if the version is not installed with the `use` command
  CHANGELOG.md
  avm/src/lib.rs
Labels: avm, feature

#3232 docs: Update `seeds` feature documentation
  docs/src/pages/docs/manifest.md
Labels: documentation

#2939 Use closure for init constraints
  CHANGELOG.md
  bench/BINARY_SIZE.md
  bench/COMPUTE_UNITS.md
  bench/STACK_MEMORY.md
  lang/syn/src/codegen/accounts/constraints.rs
  tests/bench/bench.json
Labels: lang, next

#3233 docs: Fix the `warp_slot` example
  docs/src/pages/docs/manifest.md
Labels: documentation, fix

#3235 cli: Accept integers for `warp_slot`
  CHANGELOG.md
  cli/src/config.rs
  docs/src/pages/docs/manifest.md
Labels: cli, breaking

#3234 Fixed the ts_deploy_script function to use ts instead of js
  cli/src/rust_template.rs
Labels: cli, feature

#3245 ci: Fix client example test
  .github/workflows/reusable-tests.yaml
Labels: ci, fix

#3244 lang: Remove `EventIndex`
  CHANGELOG.md
  lang/attribute/event/src/lib.rs
  lang/attribute/program/src/declare_program/mods/events.rs
  lang/src/lib.rs
  tests/events/programs/events/src/lib.rs
Labels: lang, breaking

#3248 docs: Remove `anchor idl parse` from `workspace.types` documentation
  docs/src/pages/docs/manifest.md
Labels: documentation

#3246 Docs: mention `init` constraint requires annotated account to sign
  lang/derive/accounts/src/lib.rs
Labels: documentation, lang

#3250 cli: Warn if a manifest has `solana-program` dependency
  CHANGELOG.md
  cli/src/checks.rs
  cli/src/lib.rs
Labels: cli, feature

#3251 feat: cli completions + clap version bump to v4.5.17
  CHANGELOG.md
  Cargo.lock
  avm/Cargo.toml
  avm/src/main.rs
  cli/Cargo.toml
  cli/src/lib.rs
  docs/src/pages/docs/installation.md
Labels: documentation, cli, avm, feature

#2339 lang: allow the cfg attribute above the instructions
  CHANGELOG.md
  lang/syn/src/codegen/program/accounts.rs
  lang/syn/src/codegen/program/cpi.rs
  lang/syn/src/codegen/program/dispatch.rs
  lang/syn/src/codegen/program/handlers.rs
  lang/syn/src/codegen/program/instruction.rs
  lang/syn/src/idl/program.rs
  lang/syn/src/lib.rs
  lang/syn/src/parser/program/instructions.rs
  tests/misc/programs/misc/Cargo.toml
  tests/misc/programs/misc/src/context.rs
  tests/misc/programs/misc/src/lib.rs
Labels: lang, feature

#3257 spl: Remove `dex` feature
  .github/workflows/reusable-tests.yaml
  CHANGELOG.md
  Cargo.lock
  spl/Cargo.toml
  spl/src/dex.rs
  spl/src/lib.rs
  tests/swap/programs/swap/Cargo.toml
Labels: spl, ci, breaking

#3258 bench: Sync to update Solana version
  bench/BINARY_SIZE.md
  bench/COMPUTE_UNITS.md
  bench/STACK_MEMORY.md
  tests/bench/bench.json
Labels: bench

#3260 docs: Add `Option` in Javascript Anchor Types Reference
  docs/src/pages/docs/javascript-anchor-types.md
Labels: documentation

#3263 cli: Remove `panic!`s
  cli/src/lib.rs
Labels: cli, fix

#3265 cli: Always convert IDLs
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli, feature

#3266 docs: Add `keys` command to the CLI documentation
  cli/src/lib.rs
  docs/src/pages/docs/cli.md
Labels: documentation, cli

#3271 cli: Install Solana from anza.xyz domain in Docker verifiable builds
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli, breaking

#3273 cli: Check whether the `idl-build` feature exists when using the `idl build` command
  CHANGELOG.md
  cli/src/checks.rs
  cli/src/lib.rs
Labels: cli, feature

#3272 Add avm to system path
  docs/src/pages/docs/installation.md
Labels: documentation

#3275 cli: Build IDL if there is only one program when using the `idl build` command
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli, feature

#3283 cli: Add short alias for `idl build` command
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli, idl, feature

#3284 idl: Log output with `ANCHOR_LOG` on failure and improve build error message
  CHANGELOG.md
  idl/src/build.rs
Labels: idl, fix

#3286 docs: Open external navigation links in a new tab
  docs/src/components/Navigation.jsx
Labels: documentation

#3287 lang: Fix constant bytes declarations when using `declare_program!`
  CHANGELOG.md
  lang/attribute/program/src/declare_program/mods/constants.rs
  tests/declare-program/idls/external.json
  tests/declare-program/idls/external_legacy.json
  tests/declare-program/programs/external/src/lib.rs
Labels: lang, fix
