Repository solana-foundation/anchor, pull requests merged in 2024-11, with the labels that each got.

#3339 Upgrade Solana to 2.1.0
  .github/workflows/no-caching-tests.yaml
  .github/workflows/tests.yaml
  Cargo.lock
  Cargo.toml
  bench/BINARY_SIZE.md
  bench/COMPUTE_UNITS.md
  bench/STACK_MEMORY.md
  client/src/lib.rs
  setup-tests.sh
  tests/bench/bench.json
Labels: spl, lang, client, ci, dependencies

#3344 docs: Improve Javascript Anchor Types reference
  docs/src/pages/docs/javascript-anchor-types.md
Labels: documentation

#3345 cli: Remove stripping workspace prefix from program id of the `upgrade` command
  cli/src/lib.rs
Labels: cli, fix

#3346 spl: Upgrade SPL deps to latest
  CHANGELOG.md
  Cargo.lock
  bench/BINARY_SIZE.md
  bench/COMPUTE_UNITS.md
  spl/Cargo.toml
  tests/bench/bench.json
  tests/idl/programs/new-idl/src/lib.rs
  tests/spl/token-extensions/programs/token-extensions/Cargo.toml
  tests/spl/transfer-hook/programs/transfer-hook/Cargo.toml
Labels: spl, dependencies, breaking

#3347 cli: Remove allowing false positive `clippy::needless_borrows_for_generic_args`
  cli/src/config.rs
Labels: cli, fix

#3348 spl: Remove `spl-token-confidential-transfer-proof-generation` patch
  Cargo.lock
  Cargo.toml
Labels: spl, dependencies, fix

#3351 cli: Fix `shell` command failing due to outdated program initialization
  CHANGELOG.md
  cli/src/rust_template.rs
Labels: cli, fix

#3355 docs: Add a tip about passing `cargo` args to the `build` command
  docs/src/pages/docs/cli.md
Labels: documentation

#3352 test templates: add mollusk
  .github/workflows/reusable-tests.yaml
  CHANGELOG.md
  cli/src/lib.rs
  cli/src/rust_template.rs
Labels: cli, feature

#3364 fix: correctly envalue (#3363)
  .github/workflows/reusable-tests.yaml
Labels: ci, fix

#3365 idl: Disallow account discriminators that can conflict with the `zero` constraint
  CHANGELOG.md
  idl/src/build.rs
Labels: idl, feature

#3367 tests: Remove `docs` test
  tests/docs/Anchor.toml
  tests/docs/Cargo.toml
  tests/docs/package.json
  tests/docs/programs/docs/Cargo.toml
  tests/docs/programs/docs/Xargo.toml
  tests/docs/programs/docs/src/lib.rs
Labels: tests

#3372 cli: Remove passing the rent sysvar account to IDL instructions
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli, fix

#3376 lang: Fix `cpi` feature instructions not accounting for discriminator overrides
  CHANGELOG.md
  lang/syn/src/codegen/program/common.rs
  lang/syn/src/codegen/program/cpi.rs
  lang/syn/src/codegen/program/handlers.rs
Labels: lang, fix

#3378 docker: Upgrade Solana toolchain to 2.1.0
  docker/Makefile
Labels: docker

#3384 Update grammar intro-to-solana.md
  docs/src/pages/docs/intro-to-solana.md
Labels: documentation

#3383 bench: Use `agave-install` if Solana is v2
  tests/bench/scripts/utils.ts
Labels: bench, fix

#3381 chore: clean unused anchor-spl
  tests/idl/programs/external/Cargo.toml
  tests/idl/programs/generics/Cargo.toml
  tests/sysvars/programs/sysvars/Cargo.toml
Labels: tests

#3396 idl: Ignore compiler warnings during builds
  idl/src/build.rs
Labels: idl, fix
