Repository solana-foundation/anchor, pull requests merged in 2024-04, with the labels that each got.

#2882 idl: Move IDL types from the `anchor-syn` crate to the new IDL crate
  CHANGELOG.md
  Cargo.lock
  idl/Cargo.toml
  idl/src/build.rs
  idl/src/lib.rs
  idl/src/types.rs
  lang/Cargo.toml
  lang/attribute/account/src/lib.rs
  lang/attribute/constant/src/lib.rs
  lang/attribute/event/src/lib.rs
  lang/attribute/program/Cargo.toml
  lang/attribute/program/src/declare_program/common.rs
  lang/attribute/program/src/declare_program/mod.rs
  lang/attribute/program/src/declare_program/mods/accounts.rs
  lang/attribute/program/src/declare_program/mods/client.rs
  lang/attribute/program/src/declare_program/mods/constants.rs
  lang/attribute/program/src/declare_program/mods/cpi.rs
  lang/attribute/program/src/declare_program/mods/events.rs
  lang/attribute/program/src/declare_program/mods/internal.rs
  lang/attribute/program/src/declare_program/mods/types.rs
  lang/derive/serde/src/lib.rs
  lang/src/idl.rs
  lang/src/lib.rs
  lang/syn/Cargo.toml
  lang/syn/src/codegen/accounts/mod.rs
  lang/syn/src/codegen/error.rs
  lang/syn/src/codegen/program/mod.rs
  lang/syn/src/idl/accounts.rs
  lang/syn/src/idl/address.rs
  lang/syn/src/idl/build/mod.rs
  lang/syn/src/idl/common.rs
  lang/syn/src/idl/constant.rs
  lang/syn/src/idl/defined.rs
  lang/syn/src/idl/error.rs
  lang/syn/src/idl/event.rs
  lang/syn/src/idl/external.rs
  lang/syn/src/idl/mod.rs
  lang/syn/src/idl/program.rs
  lang/syn/src/idl/types.rs
  lang/syn/src/lib.rs
  tests/idl/programs/new-idl/src/lib.rs
Labels: breaking, idl

#2887 idl: Add `docs` field for constants
  CHANGELOG.md
  examples/tutorial/basic-0/package.json
  examples/tutorial/basic-1/package.json
  examples/tutorial/basic-2/package.json
  examples/tutorial/basic-3/package.json
  examples/tutorial/basic-4/package.json
  examples/tutorial/basic-5/package.json
  idl/src/types.rs
  lang/syn/src/idl/constant.rs
  tests/idl/programs/docs/src/lib.rs
  tests/idl/tests/docs.ts
Labels: idl

#2890 idl: Add `#[non_exhaustive]` to IDL enums
  CHANGELOG.md
  cli/src/lib.rs
  idl/src/types.rs
  lang/attribute/program/src/declare_program/common.rs
Labels: breaking, idl

#2891 spl: Upgrade `spl-associated-token-account` to 3.0.2
  Cargo.lock
  spl/Cargo.toml
Labels: spl, dependencies

#2892 idl: Store deployment addresses for other clusters
  CHANGELOG.md
  idl/src/types.rs
  lang/syn/src/idl/program.rs
  ts/packages/anchor/src/idl.ts
Labels: idl

#2893 Unpin `nightly` version
  .github/actions/setup/action.yaml
  idl/src/build.rs
  lang/syn/src/idl/defined.rs
Labels: ci, idl

#2894 lang: Add composite accounts support for `declare_program!`
  lang/attribute/program/src/declare_program/mods/internal.rs
  tests/declare-program/idls/external.json
  tests/declare-program/programs/declare-program/src/lib.rs
  tests/declare-program/programs/external/src/lib.rs
  tests/declare-program/tests/declare-program.ts
Labels: lang, next

#2895 spl: Remove `toml_edit` version requirement
  Cargo.lock
  spl/Cargo.toml
Labels: spl, dependencies, next

#2896 Fix `1.79.0-nightly` warnings
  lang/attribute/account/src/id.rs
  lang/src/accounts/program.rs
  lang/src/accounts/system_account.rs
  lang/src/idl.rs
  lang/syn/src/codegen/accounts/constraints.rs
  lang/syn/src/hash.rs
  lang/syn/src/parser/accounts/constraints.rs
  lang/syn/src/parser/accounts/mod.rs
  spl/src/token.rs
  spl/src/token_2022.rs
Labels: spl, lang, next

#2897 lang: Add `Event` utility type to get events from bytes
  CHANGELOG.md
  lang/attribute/program/src/declare_program/mod.rs
  lang/attribute/program/src/declare_program/mods/mod.rs
  lang/attribute/program/src/declare_program/mods/utils.rs
  tests/declare-program/idls/external.json
  tests/declare-program/programs/declare-program/src/lib.rs
  tests/declare-program/programs/external/src/lib.rs
  tests/declare-program/tests/declare-program.ts
Labels: lang

#2899 spl: Upgrade `mpl-token-metadata` to 4.1.2
  Cargo.lock
  spl/Cargo.toml
Labels: spl, dependencies, next

#2789 [feat] Add Token22 Extensions
  .github/workflows/reusable-tests.yaml
  CHANGELOG.md
  Cargo.lock
  lang/Cargo.toml
  lang/src/error.rs
  lang/syn/src/codegen/accounts/constraints.rs
  lang/syn/src/lib.rs
  lang/syn/src/parser/accounts/constraints.rs
  spl/Cargo.toml
  spl/src/lib.rs
  spl/src/token_2022.rs
  spl/src/token_2022_extensions/confidential_transfer.rs
  spl/src/token_2022_extensions/confidential_transfer_fee.rs
  spl/src/token_2022_extensions/cpi_guard.rs
  spl/src/token_2022_extensions/default_account_state.rs
  spl/src/token_2022_extensions/group_member_pointer.rs
  spl/src/token_2022_extensions/group_pointer.rs
  spl/src/token_2022_extensions/immutable_owner.rs
  spl/src/token_2022_extensions/interest_bearing_mint.rs
  spl/src/token_2022_extensions/memo_transfer.rs
  spl/src/token_2022_extensions/metadata_pointer.rs
  spl/src/token_2022_extensions/mint_close_authority.rs
  spl/src/token_2022_extensions/mod.rs
  spl/src/token_2022_extensions/non_transferable.rs
  spl/src/token_2022_extensions/permanent_delegate.rs
  spl/src/token_2022_extensions/token_group.rs
  spl/src/token_2022_extensions/token_metadata.rs
  spl/src/token_2022_extensions/transfer_fee.rs
  spl/src/token_2022_extensions/transfer_hook.rs
  spl/src/token_interface.rs
  tests/package.json
  tests/spl/token-extensions/Anchor.toml
  tests/spl/token-extensions/Cargo.toml
  tests/spl/token-extensions/package.json
  tests/spl/token-extensions/programs/token-extensions/Cargo.toml
  tests/spl/token-extensions/programs/token-extensions/Xargo.toml
  tests/spl/token-extensions/programs/token-extensions/src/instructions.rs
  tests/spl/token-extensions/programs/token-extensions/src/lib.rs
  tests/spl/token-extensions/programs/token-extensions/src/utils.rs
  tests/spl/token-extensions/tests/token-extensions.ts
  tests/spl/token-extensions/tsconfig.json
  tests/spl/token-proxy/programs/token-proxy/src/lib.rs
Labels: spl, lang, next

#2900 spl: Remove `solana-program` dependency
  CHANGELOG.md
  Cargo.lock
  spl/Cargo.toml
  spl/src/associated_token.rs
  spl/src/dex.rs
  spl/src/governance.rs
  spl/src/memo.rs
  spl/src/metadata.rs
  spl/src/mint.rs
  spl/src/stake.rs
  spl/src/token.rs
  spl/src/token_2022.rs
  spl/src/token_2022_extensions/cpi_guard.rs
  spl/src/token_2022_extensions/default_account_state.rs
  spl/src/token_2022_extensions/group_member_pointer.rs
  spl/src/token_2022_extensions/group_pointer.rs
  spl/src/token_2022_extensions/immutable_owner.rs
  spl/src/token_2022_extensions/interest_bearing_mint.rs
  spl/src/token_2022_extensions/memo_transfer.rs
  spl/src/token_2022_extensions/metadata_pointer.rs
  spl/src/token_2022_extensions/mint_close_authority.rs
  spl/src/token_2022_extensions/non_transferable.rs
  spl/src/token_2022_extensions/permanent_delegate.rs
  spl/src/token_2022_extensions/token_group.rs
  spl/src/token_2022_extensions/token_metadata.rs
  spl/src/token_2022_extensions/transfer_fee.rs
  spl/src/token_2022_extensions/transfer_hook.rs
  spl/src/token_interface.rs
Labels: spl, dependencies, next

#2901 idl: Keep crate and `spec` version the same
  Cargo.lock
  cli/Cargo.toml
  idl/Cargo.toml
  idl/src/types.rs
  lang/Cargo.toml
  lang/attribute/program/Cargo.toml
Labels: idl

#2904 Make TokenAccount and Mint Copy
  CHANGELOG.md
  spl/src/token.rs
  spl/src/token_interface.rs
Labels: spl

#2906 ts: Add missing errors
  CHANGELOG.md
  ts/packages/anchor/src/error.ts
Labels: ts, next

#2907 lang: Return overflow error from `Lamports` trait operations
  CHANGELOG.md
  lang/src/lib.rs
  tests/misc/programs/lamports/src/lib.rs
  tests/misc/tests/lamports/lamports.ts
Labels: lang, next

#2908 idl: Rename crate name to `anchor-lang-idl`
  Cargo.lock
  cli/Cargo.toml
  cli/src/config.rs
  cli/src/lib.rs
  cli/src/rust_template.rs
  idl/Cargo.toml
  lang/Cargo.toml
  lang/attribute/program/Cargo.toml
  lang/attribute/program/src/declare_program/common.rs
  lang/attribute/program/src/declare_program/mod.rs
  lang/attribute/program/src/declare_program/mods/accounts.rs
  lang/attribute/program/src/declare_program/mods/client.rs
  lang/attribute/program/src/declare_program/mods/constants.rs
  lang/attribute/program/src/declare_program/mods/cpi.rs
  lang/attribute/program/src/declare_program/mods/events.rs
  lang/attribute/program/src/declare_program/mods/internal.rs
  lang/attribute/program/src/declare_program/mods/types.rs
  lang/attribute/program/src/declare_program/mods/utils.rs
  lang/src/idl.rs
Labels: next, idl

#2910 fix branch name for example link
  docs/src/pages/release-notes/0.30.0.md
Labels: documentation

#2918 docs.rs docs patch: token_program override example
  lang/derive/accounts/src/lib.rs
Labels: documentation, lang

#2917 Support customizing the installation location
  CHANGELOG.md
  avm/src/lib.rs
Labels: avm

#2919 ts: Upgrade `@babel/traverse` to 7.24.1
  ts/yarn.lock
Labels: ts, dependencies

#2913 bugfix: inline cpi variables to fix stack violation warnings
  CHANGELOG.md
  lang/Cargo.toml
  lang/syn/src/codegen/accounts/constraints.rs
Labels: lang

#2922 ts: Fix sendAndConfirm getTransaction version
  CHANGELOG.md
  ts/packages/anchor/src/provider.ts
Labels: ts

#2927 idl: Add accounts resolution for associated token accounts
  CHANGELOG.md
  lang/syn/src/idl/accounts.rs
  tests/pda-derivation/programs/pda-derivation/Cargo.toml
  tests/pda-derivation/programs/pda-derivation/src/lib.rs
  tests/pda-derivation/tests/typescript.spec.ts
Labels: lang, ts, next, idl

#2930 fix unused variable warning on new projects
  cli/src/rust_template.rs
Labels: cli

#2936 lang: Add example section in `declare_program!` documentation and fix typos
  lang/attribute/program/src/lib.rs
Labels: documentation, lang

#2929 Fix npm warning by using configured default license
  CHANGELOG.md
  cli/src/lib.rs
  cli/src/rust_template.rs
Labels: enhancement, cli

#2941 allow toolchain overriding in idl build command
  CHANGELOG.md
  idl/src/build.rs
Labels: idl
