Repository solana-foundation/anchor, pull requests merged in 2024-02, with the labels that each got.

#2799 Able to run multiple commands
  CHANGELOG.md
  cli/src/lib.rs
Labels: enhancement, cli

#2807 spl: Pin version of `toml_edit` crate to 0.21.0
  Cargo.lock
  spl/Cargo.toml
Labels: spl, dependencies

#2810 Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

#2811 tests: Fix non-path `anchor-lang` dep in tests
  tests/misc/programs/overflow-checks/Cargo.toml
Labels: tests

#2813 cli: Check `@coral-xyz/anchor` package and CLI version compatibility
  CHANGELOG.md
  cli/src/checks.rs
  cli/src/lib.rs
Labels: enhancement, cli

#2805 cli: init rust test
  CHANGELOG.md
  cli/src/lib.rs
  cli/src/rust_template.rs
Labels: cli

#2821 fix(ts): correctly construct field layout for type aliases
  CHANGELOG.md
  ts/packages/anchor/src/coder/borsh/idl.ts
  ts/packages/anchor/tests/coder-instructions.spec.ts
Labels: ts

#2822 client: Add documentation for `RequestBuilder.accounts` method
  client/src/lib.rs
Labels: documentation, client

#2823 cli: Add ability to build and test only a specified program
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli

#2828 cli: Fix excessive test validator requests
  cli/src/config.rs
  cli/src/lib.rs
Labels: cli
