Repository solana-foundation/anchor, pull requests merged in 2024-12, with the labels that each got.

#3398 cli: Avoid extra IDL generation during `verify`
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli, fix

#3354 cli: Include recommended solana args by default and add new --max-retries
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli, feature

#3404 docs: Add `multiple` template documentation in CLI
  docs/src/pages/docs/cli.md
Labels: documentation

#3409 lang: Require `zero` accounts to be unique
  CHANGELOG.md
  lang/syn/src/codegen/accounts/constraints.rs
  tests/misc/programs/misc-optional/src/context.rs
  tests/misc/programs/misc-optional/src/lib.rs
  tests/misc/programs/misc/src/context.rs
  tests/misc/programs/misc/src/lib.rs
  tests/misc/tests/misc/misc.ts
Labels: lang, fix

#3422 lang: Deduplicate `zero` accounts against `init` accounts
  CHANGELOG.md
  lang/syn/src/codegen/accounts/constraints.rs
  tests/misc/programs/misc-optional/src/context.rs
  tests/misc/programs/misc-optional/src/lib.rs
  tests/misc/programs/misc/src/context.rs
  tests/misc/programs/misc/src/lib.rs
  tests/misc/tests/misc/misc.ts
Labels: lang, fix

#3428 cli: Fix custom `provider.cluster`
  CHANGELOG.md
  cli/src/config.rs
Labels: cli, fix

#3430 chore: Update dead link on intro-to-slana
  docs/src/pages/docs/intro-to-solana.md
Labels: documentation

#3432 fix: Anchor CLI ignore non semver releases to avoid panic
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli, fix

#3439 ci: Upload binaries to releases
  .github/workflows/release.yaml
Labels: ci

#3445 avm: Make installation download binaries by default
  CHANGELOG.md
  avm/src/lib.rs
  avm/src/main.rs
Labels: avm, feature

#3450 ts: Fix loading programs with numbers in their names using `workspace`
  CHANGELOG.md
  ts/packages/anchor/src/workspace.ts
Labels: ts, fix

#3456 ci: Run the release workflow when the release workflow file changes
  .github/workflows/release.yaml
Labels: ci

#3455 Make `solana_account_decoder` dep public in anchor client
  CHANGELOG.md
  client/src/lib.rs
Labels: client, feature

#3458 lang: Remove a potential panic while getting the IDL in `declare_program!`
  CHANGELOG.md
  lang/attribute/program/src/declare_program/mod.rs
Labels: lang, fix

#3461 avm: Always install commit hash inputs from source
  avm/src/lib.rs
Labels: avm, fix
