Repository solana-foundation/anchor, pull requests merged in 2024-07, with the labels that each got.

#3064 tests: Move constant seed derivation test to `pda-derivation`
  tests/pda-derivation/programs/pda-derivation/src/lib.rs
  tests/pda-derivation/tests/typescript.spec.ts
  tests/relations-derivation/programs/relations-derivation/src/lib.rs
  tests/relations-derivation/tests/typescript.spec.ts
Labels: tests

#3056 Fix "align" repr support in declare_program!
  CHANGELOG.md
  lang/attribute/program/src/declare_program/common.rs
Labels: lang, fix

#3065 lang: Make stack frames slimmer on ATA creation
  CHANGELOG.md
  lang/syn/src/codegen/accounts/constraints.rs
  tests/misc/programs/misc-optional/src/context.rs
  tests/misc/programs/misc-optional/src/lib.rs
  tests/misc/programs/misc/src/context.rs
  tests/misc/programs/misc/src/lib.rs
  tests/misc/tests/misc/misc.ts
Labels: lang, performance

#3072 lang: Remove `getrandom` dependency
  CHANGELOG.md
  Cargo.lock
  lang/Cargo.toml
Labels: lang, dependencies

#3075 lang: Export `Discriminator` trait from `prelude`
  CHANGELOG.md
  lang/src/lib.rs
  lang/syn/src/codegen/program/dispatch.rs
  lang/syn/src/idl/accounts.rs
  lang/syn/src/idl/event.rs
  lang/syn/src/idl/program.rs
Labels: lang, feature

#3078 syn: Remove `bpf` target support in `hash` feature
  CHANGELOG.md
  lang/syn/src/hash.rs
Labels: breaking

#3057 feat: Add tokio support to anchor_client `RequestBuilder`
  .gitignore
  CHANGELOG.md
  client/example/src/nonblocking.rs
  client/src/blocking.rs
  client/src/lib.rs
  client/src/nonblocking.rs
Labels: client, feature

#3083 lang: Remove `EventData` trait
  CHANGELOG.md
  lang/src/lib.rs
Labels: lang, breaking

#3084 lang: Make `InitSpace` support unnamed & unit structs
  CHANGELOG.md
  lang/derive/space/src/lib.rs
  lang/tests/space.rs
Labels: lang, fix

#3090 lang: Add a sanity check for unimplemented token extensions
  CHANGELOG.md
  lang/syn/src/codegen/accounts/constraints.rs
Labels: lang, fix

#3091 lang: Add `Account` utility type to get accounts from bytes
  CHANGELOG.md
  lang/attribute/program/src/declare_program/mods/utils.rs
  tests/declare-program/programs/declare-program/src/lib.rs
  tests/declare-program/tests/declare-program.ts
Labels: lang, feature

#3093 cli: Skip IDL checks if `--no-idl` option is passed
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli, fix

#3053 feat: Add option to pass in rpc client when using anchor_client
  CHANGELOG.md
  client/Cargo.toml
  client/example/src/nonblocking.rs
  client/src/blocking.rs
  client/src/lib.rs
  client/src/nonblocking.rs
Labels: client, feature

#3098 lang: Make discriminator type unsized
  CHANGELOG.md
  client/src/lib.rs
  lang/attribute/account/src/lib.rs
  lang/attribute/event/src/lib.rs
  lang/attribute/program/src/declare_program/mods/accounts.rs
  lang/attribute/program/src/declare_program/mods/events.rs
  lang/attribute/program/src/declare_program/mods/internal.rs
  lang/src/accounts/account_loader.rs
  lang/src/bpf_upgradeable_state.rs
  lang/src/event.rs
  lang/src/idl.rs
  lang/src/lib.rs
  lang/syn/src/codegen/program/dispatch.rs
  lang/syn/src/codegen/program/instruction.rs
  lang/tests/serialization.rs
  spl/src/governance.rs
  spl/src/idl_build.rs
Labels: lang, breaking

#3101 lang: Get discriminator length dynamically
  CHANGELOG.md
  lang/attribute/account/src/lib.rs
  lang/src/accounts/account_loader.rs
  lang/syn/src/codegen/program/idl.rs
Labels: lang

#3103 lang: Add non-8-byte discriminator support in `declare_program!`
  CHANGELOG.md
  lang/attribute/program/src/declare_program/mods/accounts.rs
  lang/attribute/program/src/declare_program/mods/internal.rs
  lang/attribute/program/src/declare_program/mods/utils.rs
Labels: lang, feature

#3107 client: Make `ThreadSafeSigner` trait public
  CHANGELOG.md
  client/src/lib.rs
Labels: client, feature

#3109 lang: Remove the fallback function shortcut in `try_entry` function
  CHANGELOG.md
  lang/syn/src/codegen/program/dispatch.rs
  lang/syn/src/codegen/program/entry.rs
Labels: lang, feature

#3115 Fix the tic-tac-toe sample tests
  docs/programs/tic-tac-toe/.mocharc.json
  docs/programs/tic-tac-toe/Anchor.toml
  docs/programs/tic-tac-toe/Cargo.lock
  docs/programs/tic-tac-toe/Cargo.toml
  docs/programs/tic-tac-toe/package.json
  docs/programs/tic-tac-toe/programs/tic-tac-toe/Cargo.toml
  docs/programs/tic-tac-toe/tests/tic-tac-toe.ts
  docs/programs/tic-tac-toe/tsconfig.json
  docs/programs/tic-tac-toe/yarn.lock
Labels: documentation, examples

#3118 lang: Require `Discriminator` trait impl when using the `zero` constraint
  CHANGELOG.md
  lang/syn/src/codegen/accounts/constraints.rs
  lang/syn/src/parser/accounts/constraints.rs
Labels: lang, breaking, feature

#3120 ts: Get discriminator lengths dynamically
  CHANGELOG.md
  ts/packages/anchor/src/coder/borsh/accounts.ts
  ts/packages/anchor/src/coder/borsh/discriminator.ts
  ts/packages/anchor/src/coder/borsh/event.ts
  ts/packages/anchor/src/coder/borsh/index.ts
  ts/packages/anchor/src/coder/borsh/instruction.ts
  ts/packages/anchor/tests/coder-accounts.spec.ts
Labels: ts, breaking, feature

#3125 client: Support non-8-byte discriminators
  CHANGELOG.md
  client/src/lib.rs
Labels: client, feature

#3128 Added WithdrawWithheldTokensFromAccounts IX
  CHANGELOG.md
  spl/src/token_2022_extensions/transfer_fee.rs
Labels: spl, feature

#3129 Add static lifetime to spl idl-build
  spl/src/governance.rs
  spl/src/idl_build.rs
Labels: spl

#3130 ts: Add optional `wallet` property to the `Provider` interface
  CHANGELOG.md
  ts/packages/anchor/src/program/accounts-resolver.ts
  ts/packages/anchor/src/provider.ts
Labels: ts, fix, feature

#3133 cli: Warn if `anchor-spl/idl-build` is missing
  CHANGELOG.md
  cli/src/checks.rs
Labels: cli, feature

#3135 Add internal rpc func
  CHANGELOG.md
  client/src/lib.rs
Labels: client, feature

#3137 lang: Add `#[instruction]` attribute proc-macro
  .github/workflows/reusable-tests.yaml
  CHANGELOG.md
  lang/attribute/program/src/lib.rs
  lang/src/lib.rs
  lang/syn/src/codegen/program/instruction.rs
  lang/syn/src/lib.rs
  lang/syn/src/parser/program/instructions.rs
  tests/custom-discriminator/Anchor.toml
  tests/custom-discriminator/Cargo.toml
  tests/custom-discriminator/package.json
  tests/custom-discriminator/programs/custom-discriminator/Cargo.toml
  tests/custom-discriminator/programs/custom-discriminator/Xargo.toml
  tests/custom-discriminator/programs/custom-discriminator/src/lib.rs
  tests/custom-discriminator/tests/custom-discriminator.ts
  tests/custom-discriminator/tsconfig.json
  tests/package.json
Labels: lang, feature

#3139 lang: Remove unnecessary clone in account exit routine
  CHANGELOG.md
  bench/BINARY_SIZE.md
  bench/COMPUTE_UNITS.md
  lang/src/accounts/account.rs
  tests/bench/bench.json
Labels: lang, fix, performance
