Repository solana-foundation/anchor, pull requests merged in 2024-08, with the labels that each got.

#3140 lang: Parse `#[account]` attribute arguments with `syn`
  CHANGELOG.md
  lang/attribute/account/src/lib.rs
Labels: lang, breaking

#3143 Upgrade `time` to 0.3.36
  CHANGELOG.md
  Cargo.lock
Labels: dependencies

#3144 lang: Use associated discriminator constants instead of hardcoding in `#[account]`
  CHANGELOG.md
  lang/attribute/account/src/lib.rs
  lang/attribute/program/src/declare_program/mods/accounts.rs
Labels: lang, feature

#3148 lang: Fix compilation error when an `#[account]` struct has generics
  lang/attribute/account/src/lib.rs
Labels: lang, fix

#3149 lang: Add `discriminator` argument to `#[account]` attribute
  .github/workflows/reusable-tests.yaml
  CHANGELOG.md
  lang/attribute/account/src/lib.rs
  tests/custom-discriminator/programs/custom-discriminator/src/lib.rs
  tests/custom-discriminator/tests/custom-discriminator.ts
Labels: lang, feature

#3152 lang: Add `discriminator` argument to `#[event]` attribute
  CHANGELOG.md
  lang/attribute/event/src/lib.rs
  tests/custom-discriminator/programs/custom-discriminator/src/lib.rs
  tests/custom-discriminator/tests/custom-discriminator.ts
Labels: lang, feature

#3076 Rename metadata interface ix fields from `token_program_id` to `program_id`
  CHANGELOG.md
  spl/src/token_2022_extensions/token_group.rs
  spl/src/token_2022_extensions/token_metadata.rs
  tests/spl/token-extensions/programs/token-extensions/src/instructions.rs
Labels: spl, breaking, next

#3154 lang: Reuse common override arguments
  lang/attribute/account/src/lib.rs
  lang/attribute/event/src/lib.rs
  lang/syn/src/codegen/program/instruction.rs
  lang/syn/src/lib.rs
  lang/syn/src/parser/program/instructions.rs
Labels: lang

#3157 idl: Check ambiguous discriminators
  CHANGELOG.md
  idl/src/build.rs
  tests/custom-discriminator/Anchor.toml
  tests/custom-discriminator/programs/ambiguous-discriminator/Cargo.toml
  tests/custom-discriminator/programs/ambiguous-discriminator/Xargo.toml
  tests/custom-discriminator/programs/ambiguous-discriminator/src/lib.rs
  tests/custom-discriminator/tests/ambiguous-discriminator.ts
Labels: idl, feature

#3160 Minor tweaks to intro so readers don't need to know what sealevel is
  docs/src/pages/index.md
Labels: documentation

#3159 idl: Disallow all zero account discriminators
  CHANGELOG.md
  idl/src/build.rs
  lang/attribute/account/src/lib.rs
  lang/attribute/event/src/lib.rs
  lang/attribute/program/src/lib.rs
Labels: idl, feature

#3161 lang, ts: Remove "8 byte" requirement from discriminator error messages
  CHANGELOG.md
  lang/src/error.rs
  ts/packages/anchor/src/error.ts
Labels: lang, ts, breaking

#3163 lang: Remove `discriminator` method from `Discriminator` trait
  CHANGELOG.md
  lang/src/lib.rs
  tests/zero-copy/programs/zero-copy/tests/compute_unit_test.rs
Labels: lang, breaking

#3165 cli: Support non-8-byte discriminators
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli, feature

#3167 Tweak subheading in case people don't know what sealevel is.
  docs/src/components/Hero.jsx
Labels: documentation

#3166 idl: Disallow empty discriminators
  CHANGELOG.md
  idl/src/build.rs
Labels: lang, idl, feature

#3168 docs: Fix deployment to Vercel
  docs/src/components/Hero.jsx
Labels: documentation, ci

#3170 lang: Remove unused code related to deprecated program id macros
  CHANGELOG.md
  lang/attribute/account/src/id.rs
Labels: lang, fix

#3171 ts: Remove `crypto-hash` dependency
  CHANGELOG.md
  ts/packages/anchor/package.json
  ts/yarn.lock
Labels: ts, fix

#3175 cli: Add `--no-idl` option to the `test` command
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli, feature

#3177 ts: Improve error message of unsupported `view` method
  CHANGELOG.md
  ts/packages/anchor/src/program/namespace/methods.ts
Labels: ts, fix

#3176 Fixing Broken Links
  docs/src/pages/docs/errors.md
  docs/src/pages/docs/the-accounts-struct.md
  docs/src/pages/docs/tic-tac-toe.md
Labels: documentation, fix

#3179 Upgrade `node` to 20.16.0 LTS
  .github/workflows/no-caching-tests.yaml
  .github/workflows/tests.yaml
  CHANGELOG.md
  docker/build/Dockerfile
Labels: ci, breaking, docker

#3181 ts: Change the `Program` constructor's `idl` parameter type to `any`
  CHANGELOG.md
  ts/packages/anchor/src/program/index.ts
Labels: ts, breaking

#3182 lang: Refactor discriminator generation
  lang/attribute/account/src/lib.rs
  lang/attribute/event/src/lib.rs
  lang/syn/src/codegen/program/common.rs
  lang/syn/src/codegen/program/cpi.rs
  lang/syn/src/codegen/program/instruction.rs
Labels: lang

#3186 Implemented ApproveChecked, BurnChecked and MintToChecked
  CHANGELOG.md
  spl/src/token_2022.rs
Labels: spl, feature

#3185 cli: Migrate to `agave-install` when `solana_version` is `>= 1.18.19`
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli, feature

#3188 idl: Add `IdlBuilder`
  CHANGELOG.md
  cli/src/lib.rs
  idl/src/build.rs
Labels: idl, feature

#3191 chore: make resolver = "2" for examples
  examples/tutorial/basic-0/Cargo.toml
  examples/tutorial/basic-1/Cargo.toml
  examples/tutorial/basic-2/Cargo.toml
  examples/tutorial/basic-3/Cargo.toml
  examples/tutorial/basic-4/Cargo.toml
  examples/tutorial/basic-5/Cargo.toml
Labels: examples

#3192 cli: Make `clean` command also remove the `.anchor` directory
  cli/src/lib.rs
Labels: cli, feature

#3195 lang: Deprecate `#[interface]` attribute
  CHANGELOG.md
  lang/attribute/program/src/lib.rs
  tests/spl/transfer-hook/programs/transfer-hook/Cargo.toml
  tests/spl/transfer-hook/programs/transfer-hook/src/lib.rs
Labels: lang, feature

#3197 idl: Fix panicking on tests
  CHANGELOG.md
  lang/syn/src/idl/defined.rs
Labels: idl, fix

#3199 lang: Remove `borsh 0.9` support
  CHANGELOG.md
  lang/Cargo.toml
  lang/derive/serde/Cargo.toml
  spl/Cargo.toml
Labels: spl, lang, dependencies, breaking

#3201 lang: Remove `arrayref` dependency
  CHANGELOG.md
  Cargo.lock
  lang/Cargo.toml
Labels: lang, dependencies, fix

#3070 [ts] support confirmation strategy with optional blockhash
  CHANGELOG.md
  ts/packages/anchor/package.json
  ts/packages/anchor/src/provider.ts
  ts/packages/borsh/package.json
  ts/yarn.lock
Labels: ts, next, feature

#3207 ts: Include unresolved accounts in the resolution error message
  CHANGELOG.md
  tests/pda-derivation/programs/pda-derivation/src/lib.rs
  tests/pda-derivation/tests/typescript.spec.ts
  ts/packages/anchor/src/program/accounts-resolver.ts
Labels: ts, feature

#3211 lang, ts: Update discriminator-related documentation
  lang/attribute/account/src/lib.rs
  lang/attribute/event/src/lib.rs
  lang/attribute/program/src/lib.rs
  lang/src/lib.rs
  lang/syn/src/codegen/program/dispatch.rs
  lang/syn/src/codegen/program/entry.rs
  ts/packages/anchor/src/coder/borsh/accounts.ts
Labels: documentation, lang, ts

#3210 cli: Fix template code shouldn't escape
  CHANGELOG.md
  cli/src/rust_template.rs
Labels: cli, fix

#3213 lang: Use `AccountDeserialize` rather than `AnchorDeserialize` when deserializing accounts with `Account` utils
  lang/attribute/program/src/declare_program/mods/utils.rs
Labels: lang, fix

#3216 idl: Fix using `address` constraint with non-const expressions
  CHANGELOG.md
  lang/syn/src/idl/accounts.rs
  tests/relations-derivation/programs/relations-derivation/src/lib.rs
  tests/relations-derivation/tests/typescript.spec.ts
Labels: idl, fix
