Repository solana-foundation/anchor, pull requests merged in 2024-05, with the labels that each got.

#2932 fix missing filename in 'Unable to read keypair file' errors
  CHANGELOG.md
  cli/src/config.rs
  cli/src/lib.rs
Labels: enhancement, cli

#2944 cli: write_buffer to show end goal step
  cli/src/lib.rs
Labels: cli

#2945 cli: Add `--no-install` option to the `init` command
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli

#2948 examples: Fix passing `programId` to `Program` constructor
  examples/tutorial/basic-0/client.js
Labels: examples

#2946 fix: recursive idl gen
  CHANGELOG.md
  idl/src/build.rs
  lang/syn/src/idl/external.rs
Labels: bug, idl

#2954 idl: Fix potential panic on external type resolution
  CHANGELOG.md
  lang/syn/src/idl/common.rs
Labels: idl

#2959 lang: Fix using defined types in instruction parameters with `declare_program!`
  CHANGELOG.md
  lang/attribute/program/src/declare_program/mod.rs
  lang/attribute/program/src/declare_program/mods/accounts.rs
  lang/attribute/program/src/declare_program/mods/events.rs
  lang/attribute/program/src/declare_program/mods/utils.rs
  tests/declare-program/idls/external.json
  tests/declare-program/programs/external/src/lib.rs
Labels: lang, fix

#2965 fix: Add support for const generics in types inside of accounts in declare_program
  CHANGELOG.md
  lang/attribute/program/src/declare_program/common.rs
Labels: lang, next, fix

#2962 Optimize avm list when github api ratelimit
  CHANGELOG.md
  Cargo.lock
  avm/Cargo.toml
  avm/src/lib.rs
Labels: enhancement, avm

#2966 fix: Fix bytes being converted incorrectly in `declare_program!`
  CHANGELOG.md
  lang/attribute/program/src/declare_program/common.rs
Labels: lang, next, fix

#2950 Implement TryFromIntError conversion for AnchorError
  CHANGELOG.md
  lang/src/error.rs
  tests/errors/programs/errors/src/lib.rs
  tests/errors/tests/errors.ts
  ts/packages/anchor/src/error.ts
Labels: lang

#2971 Fix clippy 1.78.0 lints
  cli/Cargo.toml
  cli/src/config.rs
  spl/src/token_2022_extensions/group_pointer.rs
Labels: ci

#2975 Bump minimum Solana crate versions to `1.17.3`
  CHANGELOG.md
  cli/Cargo.toml
  client/Cargo.toml
  client/example/Cargo.toml
  lang/Cargo.toml
  tests/zero-copy/programs/zero-copy/Cargo.toml
Labels: dependencies, fix

#2967 fix: Fix optional accounts in `declare_program!`
  CHANGELOG.md
  lang/attribute/program/src/declare_program/mods/internal.rs
  lang/syn/src/codegen/accounts/__client_accounts.rs
  lang/syn/src/codegen/accounts/__cpi_client_accounts.rs
  lang/syn/src/codegen/accounts/mod.rs
Labels: lang, next, fix

#2977 lang: Fix instruction return type generation with `declare_program!`
  CHANGELOG.md
  lang/attribute/program/src/declare_program/mods/cpi.rs
  tests/declare-program/idls/external.json
  tests/declare-program/programs/external/src/lib.rs
Labels: lang, fix

#2986 idl: Add ability to convert legacy IDLs
  CHANGELOG.md
  Cargo.lock
  idl/Cargo.toml
  idl/src/convert.rs
  idl/src/lib.rs
Labels: enhancement, next, idl

#2964 idl: Fix idl write overwrites from retries
  CHANGELOG.md
  cli/src/lib.rs
Labels: cli, fix

#2992 idl: Fix `unexpected_cfgs` build warning
  CHANGELOG.md
  lang/syn/Cargo.toml
Labels: idl

#2983 ts: Extract Anchor error codes into their own package
  .github/actions/setup-ts/action.yaml
  .github/workflows/reusable-tests.yaml
  CHANGELOG.md
  setup-tests.sh
  ts/packages/anchor-errors/package.json
  ts/packages/anchor-errors/src/index.ts
  ts/packages/anchor-errors/tsconfig.json
  ts/packages/anchor/package.json
  ts/packages/anchor/src/error.ts
Labels: ts

#2994 fix: Make fields in tuple structs public
  CHANGELOG.md
  lang/attribute/program/src/declare_program/common.rs
Labels: lang, fix
