Repository solana-foundation/anchor, pull requests merged in 2025-01, with the labels that each got.

#3466 cli: Remove `solana-program` dependency
  Cargo.lock
  cli/Cargo.toml
  cli/src/lib.rs
Labels: cli, dependencies, fix

#3467 cli: Fix altering user-provided lib name
  CHANGELOG.md
  cli/src/config.rs
Labels: cli, fix

#3474 idl: Fix missing `program::seed` resolution
  CHANGELOG.md
  lang/syn/src/idl/accounts.rs
  tests/pda-derivation/programs/pda-derivation/src/lib.rs
  tests/pda-derivation/tests/typescript.spec.ts
Labels: idl, fix

#3480 cli: Upgrade `typescript` version of templates to v5
  CHANGELOG.md
  cli/src/rust_template.rs
Labels: cli, breaking, feature

#3485 idl: Support PDA resolution of call expressions that don't have any arguments
  CHANGELOG.md
  lang/syn/src/idl/accounts.rs
  tests/pda-derivation/programs/pda-derivation/src/lib.rs
  tests/pda-derivation/tests/typescript.spec.ts
Labels: idl, feature

#3469 Addresses #3468 - Update the-accounts-struct.md
  docs/src/pages/docs/the-accounts-struct.md
Labels: documentation

#3499 ci: Upgrade artifact actions to v4
  .github/workflows/reusable-tests.yaml
Labels: ci

#3504 lang: Fix adding `derive`s and `repr`s to type alias definitions
  CHANGELOG.md
  lang/attribute/program/src/declare_program/common.rs
  tests/declare-program/idls/amm_v3.json
  tests/declare-program/programs/declare-program/src/lib.rs
Labels: lang, fix

#3511 Fix `clippy 1.84.0`
  CHANGELOG.md
  client/src/lib.rs
  lang/syn/src/parser/accounts/constraints.rs
  lang/syn/src/parser/accounts/mod.rs
  spl/Cargo.toml
Labels: fix

#3522 idl: Fix using constant identifiers as generic arguments
  CHANGELOG.md
  lang/syn/src/idl/defined.rs
  tests/idl/programs/new-idl/src/lib.rs
Labels: idl, fix

#3526 lang: Fix `len_from_type` typo in `Option` type error msg
  lang/derive/space/src/lib.rs
Labels: lang, fix
