Repository solana-foundation/anchor, pull requests merged in 2025-06, with the labels that each got.

#3748 fix(cli): resolve cfg directive warnings in default project templates (#3740)
  cli/src/rust_template.rs
Labels: Patch

#3691 docs: typos fix in release notes
  docs/content/docs/updates/release-notes/0-29-0.mdx
  docs/content/docs/updates/release-notes/0-30-0.mdx
  docs/content/docs/updates/release-notes/0-30-1.mdx
Labels: documentation, Patch

#3677 Add missing pubkey const generation
  lang/attribute/program/src/declare_program/mods/constants.rs
Labels: lang, Minor

#3744 feat: add support for tuple types in space calculation
  lang/derive/space/src/lib.rs
  lang/tests/space.rs
Labels: lang, Minor
