Repository solana-foundation/anchor, pull requests merged in 2025-07, with the labels that each got.

#3586 Add support for Bun as a package manager
  cli/src/checks.rs
  cli/src/config.rs
  cli/src/rust_template.rs
  docs/README.md
Labels: cli, Minor

#3710 docs: fix typos
  lang/syn/src/codegen/accounts/try_accounts.rs
  lang/syn/src/codegen/program/instruction.rs
  lang/syn/src/parser/accounts/mod.rs
  spl/src/idl_build.rs
Labels: documentation, Patch

#3757 Add `errors` to declare program macro
  CHANGELOG.md
  docs/content/docs/features/declare-program.mdx
  lang/attribute/program/src/declare_program/mod.rs
  lang/attribute/program/src/declare_program/mods/errors.rs
  lang/attribute/program/src/declare_program/mods/mod.rs
Labels: lang, Minor
